<template>
  <main class="q-pt-xl">
    <section
      class="text-center text-h5 title_center"
      style="max-width: 250px; width: 100%"
    >
      <div>About Us</div>
      <q-separator inset spaced size="8px" color="secondary" />
    </section>

    <section class="row q-pt-xl justify-center q-gutter-x-xl">
      <article class="col-3">
        <q-card class="shadow-8">
          <q-video src="https://youtu.be/6cr_VposF74?t=39" />
        </q-card>
      </article>

      <article class="col-5">
        <q-list bordered class="">
          <q-expansion-item
            group="aboutgroup"
            label="Our History"
            default-opened
            header-class="text-primary"
          >
            <q-card>
              <q-card-section v-html="ourHistoryData.description">
              </q-card-section>
            </q-card>
          </q-expansion-item>

            <q-separator />

          <q-expansion-item
            group="aboutgroup"
            label="Our Mission"
            header-class="text-teal"
          >
            <q-card>
              <q-card-section v-html="ourMissionData.description" />
            </q-card>
          </q-expansion-item>

            <q-separator />

          <q-expansion-item
            group="aboutgroup"
            label="Our Vision"
            header-class="text-primary"
          >
            <q-card>
              <q-card-section v-html="ourVisionData.description" />
            </q-card>
          </q-expansion-item>

            <q-separator />
          </q-list>

      </article>
    </section>
  </main>
</template>

<script>
import { OurHistoryDto } from 'src/utils/formatters/OurHistoryDto';
import { OurVisionDTO } from 'src/utils/formatters/OurVisionDTO';
import { mapState, mapActions } from 'vuex';
import { OurMissionDTO } from 'src/utils/formatters/OurMissionDTO';
import { hideLoading, showLoading } from '../../../utils/loading';
export default {
  data() {
    return {
      items: [
        {
          u: 'OurHistory',
        },
        {
          u: 'OurMission',
        },
        {
          u: 'OurVision',
        },
      ],
    };
  },
  async created() {
   await this.getAllData()
  },
  computed: {
    ...mapState('Home', ['ourHistory', 'ourMission', 'ourVision']),
    ourHistoryData() {
      return OurHistoryDto.receive(this.ourHistory);
    },
    ourMissionData() {
      return OurMissionDTO.receive(this.ourMission);
    },
    ourVisionData() {
      return OurVisionDTO.receive(this.ourVision);
    },
  },
  methods: {
    ...mapActions('Home', ['getData']),
    async getAllData(){
      showLoading()
      for (const val of this.items) {
        await this.getData({
          url: val?.u,

        });
        hideLoading()
      }
    }
  },
};
</script>

<style scoped>
.title_center {
  display: block;
  margin: 0px auto;
}
</style>
