<template>
  <main class="row justify-center q-gutter-xl q-pa-xl">


    <q-card class="my-card shadow-8 bg-secondary text-white border-radius-sm"
            v-for="(val, key) in guidance"
            :key="key"
    >
      <q-card-section class="text-center">
        <q-icon name="info" size="lg" />
      </q-card-section>
      <q-card-section>
        {{ val.description }}

            </q-card-section>
    </q-card>

  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { hideLoading, showLoading } from 'src/utils/loading';
export default {
  data() {
    return {};
  },
  async created() {
  await this.getGuideData();
  },
  computed: {
    ...mapState('Home', ['guidance']),
  },
  methods: {
    ...mapActions('Home', ['getData']),
    async getGuideData(){
      showLoading();
      await this.getData({
        url: 'Guidance',
      });
      hideLoading();
    }
  },
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 240px


</style>
