<template>
  <main id="home">
    <q-carousel
      v-model="slide"
      :autoplay="true"
      vertical
      transition-prev="slide-down"
      transition-next="slide-up"
      swipeable
      animated
      control-color="white"
      navigation-icon="radio_button_unchecked"
      navigation
      padding
      height="100vh"
      class="text-white"
    >

      <q-carousel-slide
        class="column no-wrap flex-center"
        v-for="(val, key) in heroData"
        :key="key"
        :name="key"
        :img-src="val.images"
      >
        <div class="q-mt-md text-center text-h3">
          <div>{{ val.title }}</div>
          <div>{{ val.subtitle }}</div>
          <div>
            <q-btn class="bg-secondary q-pa-sm" @click='$router.push("/")'>Read More</q-btn>
          </div>
        </div>
      </q-carousel-slide>

    </q-carousel>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { hideLoading, showLoading } from 'src/utils/loading';
import { HeroSectionDTO } from 'src/utils/formatters/HeroSectionDTO';
export default {
  data() {
    return {
      slide: 0,
      autoplay: true,
    };
  },
  async created() {
     await this.getHeroData()
  },
  computed: {
    ...mapState('Home', ['hero']),
    heroData() {
      return this.hero ? Object.values(this.hero).map((val) => HeroSectionDTO.receive(val)) :{};
    },
  },
  methods: {
    ...mapActions('Home', ['getData']),
    async getHeroData(){
      showLoading();
      await this.getData({
        url: 'Hero',
      });
      hideLoading();
    }
  },
};
</script>
<style>

</style>
