<template>
  <main class="q-pt-xl"  v-show='ourCourses.length >0'>
    <section
      class="text-center text-h5 title_center"
      style="max-width: 270px; width: 100%"
    >
      <div>Our Popular Courses</div>
      <q-separator size="8px" color="secondary" />
    </section>
    <section class="q-mt-xl">
      <q-carousel
        v-model="slide"
        transition-prev="slide-right"
        transition-next="slide-left"
        swipeable
        animated
        navigation
        padding
        height="45vh"
        class="text-white"
      >
        <q-carousel-slide
          v-for='(val,index) in ourCourses' :key='index'
          :name="index"
          class="column no-wrap flex-center "
          :img-src="val.about.images"

          image
        >
        </q-carousel-slide>

      </q-carousel>
    </section>
  </main>
</template>

<script>
import { mapState } from 'vuex';

export default {
  data() {
    return {
      slide: 0,
    };
  },
  computed:{
    ...mapState("Courses",['courses']),
    ourCourses(){

      return this.courses ?  Object.values(this.courses) :{}
    }
  }
};
</script>

<style scoped>
.title_center {
  display: block;
  margin: 0px auto;
}
</style>
