<template>
  <main class="q-pt-xl" v-show='ourTeams.length >0'>
    <section
      class="text-center text-h5 title_center"
      style="max-width: 290px; width: 100%"
    >
      <div>Our Professional Team</div>
      <q-separator size="8px" color="secondary" />
    </section>

    <section class="q-mt-xl">
      <q-carousel
        v-model="slide"
        transition-prev="slide-right"
        transition-next="slide-left"
        swipeable
        animated
        navigation
        padding
        height="45vh"
        class="text-white"
      >
        <q-carousel-slide
          v-for='(val,index) in ourTeams' :key='index'
          :name='index'
          class="column no-wrap flex-center"
          :img-src="val.images"
        >

        </q-carousel-slide>

      </q-carousel>
    </section>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      slide: 0,
    };
  },
  async created(){
    await this.getData({
      url:"OurTeams"
    });
  },
  computed:{
    ...mapState("Home",['ourteams']),
    ourTeams(){
      return this.ourteams? Object.values(this.ourteams) :{}
    }
  },
  methods:{
    ...mapActions("Home",['getData'])
  }

};
</script>

<style scoped>
.title_center {
  display: block;
  margin: 0px auto;
}
</style>
