<template>
  <main class="row justify-center q-gutter-xl q-pa-xl">
    <div v-for='(val,key) in institutionData' :key='key'  class='cursor-pointer'>

        <img :src='val.image' @click='openWebSite(val)'/>


    </div>


    <!-- <q-card class="my-card bg-secondary text-white" flat>
      <q-btn
        size="38px"
        icon="place"
        class="absolute bg-secondary"
        style="top: 0; right: 30%; transform: translateY(-50%)"
        round
        flat
      />

      <div>
        <div class="text-h6 q-pt-xl text-center">Cafe Basilico</div>
        <div class="text-justify q-pa-md">
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore
          quidem explicabo error quibusdam
        </div>
      </div>
    </q-card> -->
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      slide: 0,
    };
  },
  async created(){
    await this.getDestinationData({
      url:"Institution"
    });
  },
  computed:{
    ...mapState("Destination",['institution']),
    institutionData(){
      return  this.institution ? Object.values(this.institution) :{}
    }
  },
  methods:{
    ...mapActions("Destination",['getDestinationData']),
    openWebSite(value){
      window.open(value.websiteUrl);
    },
  }
};
</script>

<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 240px
</style>
