<template>
  <main class="q-mt-xl">
    <q-parallax src="https://cdn.quasar.dev/img/parallax2.jpg">
      <section class="row justify-center q-gutter-xl q-px-xl" >
        <article class="col-xs-12 col-sm-6 col-md-2" v-for='(val,key) in peoplesTestimonial' :key='key'>
          <q-card>
            <q-card-section class="text-center">
               <p>{{val.name}}</p>
            </q-card-section>
            <q-card-section v-html='val.description'/>

          </q-card>
        </article>

      </section>
    </q-parallax>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      slide: 0,
    };
  },
  async created(){
    await this.getData({
      url:"Testimonial"
    });
  },
  computed:{
    ...mapState("Home",['testimonial']),
    peoplesTestimonial(){
      return this.testimonial?  Object.values(this.testimonial) :{}
    }
  },
  methods:{
    ...mapActions("Home",['getData'])
  }
};
</script>
<style lang="sass" scoped>
.my-card
  width: 100%
  max-width: 240px
</style>
