<template>
<main class=''>
  <section class="row justify-between q-pb-md">
    <q-parallax src="https://cdn.quasar.dev/img/parallax2.jpg">
      <h6 class="text-white">Home // {{params}}</h6>
    </q-parallax>
  </section>
  <section class='row items-center justify-evenly '>
    <article class='col-md-7 q-gutter-y-md'>

      <section>
        <q-img :src='currentDestinationAbout.images
' alt='' height='300px' width='700px'/>
      </section>
      <section>

        <div class="q-pa-md">
          <div class="q-gutter-y-md" style="max-width: 700px">
            <q-card>
              <q-tabs
                v-model="tab"
                dense
                class="text-grey"
                active-color="primary"
                indicator-color="primary"
                align="justify"
                narrow-indicator
              >
                <q-tab name="foundation" label="foundation" v-if='currentDestinationFoundataion'/>
                <q-tab name="whyus" label="Why Choose this ?" v-if='currentDestinationWhyUs' />
                <q-tab name="livingExpenses" label="Living Expenses ?" v-if='currentLivingExpenses'/>
                <q-tab name="points" label="Points to be remembered"  v-if='currentDestinationPoints'/>
                <q-tab name="admission" label="Admission" v-if='currentDestinationAdmission'/>
              </q-tabs>

              <q-separator />

              <q-tab-panels v-model="tab" animated>
                <q-tab-panel name="foundation">
                  <p v-html='currentDestinationFoundataion'></p>
                </q-tab-panel>

                <q-tab-panel name="whyus">
                  <p v-html='currentDestinationWhyUs'></p>
                </q-tab-panel>
                <q-tab-panel name="livingExpenses">
                  <p v-html='currentLivingExpenses'></p>
                </q-tab-panel>
                <q-tab-panel name="points" >
                  <p v-html='currentDestinationPoints'></p>
                </q-tab-panel>
                <q-tab-panel name="admission" >
                  <p v-html='currentDestinationAdmission'></p>
                </q-tab-panel>


              </q-tab-panels>
            </q-card>


          </div>
        </div>

      </section>
    </article>

<!--    institution-->
    <article class='q-gutter-y-md'>
      <div class='text-h5'>Institutions </div>
      <div v-for='(val,key) in currentDestinationInstitution' :key='key'>
     <q-img :src='val.image' height='100px' width='300px' class='cursor-pointer' @click='openWebSite(val)'></q-img>
      </div>

    </article>


  </section>
</main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Institution from "../Institution.vue"

export default {
  name: 'DestinationDetails',
  
  data(){
    return{
      params:"",
      tab:'',
    }
  },
 async created() {
    await this.getDestinationInfo();
    await this.getInstitution();
  },
  watch:{
    $route:{
      immediate:true,
      deep:true,
      async handler(val){
        this.params  = val.params.param;
        await this.getDestinationInfo()
        this.tab='foundation'
      }
    }
  },
  computed:{
    ...mapState('Destination',['destination','institution']),
  currentParamsDestination(){
      return Object.values(this.destination).filter((val)=>val?.about?.url === this.params)
  },
  currentDestinationAbout(){
      return this.currentParamsDestination[0]?.about ? this.currentParamsDestination[0]?.about :{}
  },
    currentDestinationFoundataion(){
      return this.currentParamsDestination[0]?.foundation?.description ?  this.currentParamsDestination[0]?.foundation.description :''
    },
currentDestinationPoints(){
  return this.currentParamsDestination[0]?.pointstoberemembered?.description ? this.currentParamsDestination[0]?.pointstoberemembered?.description :''
},
    currentDestinationWhyUs(){
        return this.currentParamsDestination[0]?.whyus?.description ? this.currentParamsDestination[0]?.whyus?.description :''
    },
    currentLivingExpenses(){
      return this.currentParamsDestination[0]?.livingexpenses?.description ? this.currentParamsDestination[0]?.livingexpenses?.description :''
    },
    currentDestinationAdmission(){
      return this.currentParamsDestination[0]?.admission?.description ? this.currentParamsDestination[0]?.admission?.description :''

    },


    // institution
    currentDestinationInstitution(){
      return this.institution ? Object.values(this.institution).filter((val)=>val.from ===this.currentDestinationAbout.destinationName) :{}
    }
  },
  methods:{
    ...mapActions("Destination",["getDestinationData"]),
    openWebSite(value){
      window.open(value.websiteUrl);
    },
async getDestinationInfo(){
      await this.getDestinationData({
        url:`Destination`
      })
},
    async getInstitution(){
      await this.getDestinationData({
        url:"Institution"
      })
    }


  }
};
</script>

<style scoped>

</style>
