<template>
  <main>
    <section class="row justify-between q-pb-md">
      <q-parallax src="https://cdn.quasar.dev/img/parallax2.jpg">
        <h1 class="text-white">About Us</h1>
      </q-parallax>
    </section>
    <section class="row q-mt-xl q-pt-xl q-pa-xl">
      <article class="col-6">
        <q-img
          src="https://placeimg.com/500/300/nature"
          :ratio="16 / 9"
          spinner-color="primary"
          spinner-size="82px"
        />
      </article>
      <article class="col-6">
        <section
          class="text-center text-h5 title_center"
          style="max-width: 250px; width: 100%"
        >
          <div>Our History</div>
          <q-separator inset spaced size="8px" color="secondary" />
        </section>
        <div class="q-pa-md" v-html='ourHistoryData.description'>

        </div>
      </article>
    </section>
    <section class="row q-mt-xl q-pt-xl q-pa-xl">
      <article class="col-6">
        <section
          class="text-center text-h5 title_center"
          style="max-width: 250px; width: 100%"
        >
          <div>Our Mission</div>
          <q-separator inset spaced size="8px" color="secondary" />
        </section>
        <div class="q-pa-md" v-html='ourMissionData.description'>

        </div>
      </article>
      <article class="col-6">
        <q-img
          src="https://placeimg.com/500/300/nature"
          :ratio="16 / 9"
          spinner-color="primary"
          spinner-size="82px"
        />
      </article>
    </section>
    <section class="row q-mt-xl q-pt-xl q-pa-xl">
      <article class="col-6">
        <q-img
          src="https://placeimg.com/500/300/nature"
          :ratio="16 / 9"
          spinner-color="primary"
          spinner-size="82px"
        />
      </article>
      <article class="col-6">
        <section
          class="text-center text-h5 title_center"
          style="max-width: 250px; width: 100%"
        >
          <div>Our Vision</div>
          <q-separator inset spaced size="8px" color="secondary" />
        </section>
        <div class="q-pa-md" v-html='ourVisionData.description'>

        </div>
      </article>
    </section>
  </main>
</template>
<script>
import { mapActions, mapState } from 'vuex';
import { OurHistoryDto } from '../../../../utils/formatters/OurHistoryDto';
import { OurMissionDTO } from '../../../../utils/formatters/OurMissionDTO';
import { OurVisionDTO } from '../../../../utils/formatters/OurVisionDTO';

export default {
  name:"AboutVito",
  data() {
    return {
      items: [
        {
          u: 'OurHistory',
        },
        {
          u: 'OurMission',
        },
        {
          u: 'OurVision',
        },
      ],
    };
  },
  async created() {
    for (const val of this.items) {
      console.log(val);
      await this.getData({
        url: val?.u,
      });
    }
  },
  computed: {
    ...mapState('Home', ['ourHistory', 'ourMission', 'ourVision']),
    ourHistoryData() {
      return OurHistoryDto.receive(this.ourHistory);
    },
    ourMissionData() {
      return OurMissionDTO.receive(this.ourMission);
    },
    ourVisionData() {
      return OurVisionDTO.receive(this.ourVision);
    },
  },
  methods: {
    ...mapActions('Home', ['getData']),
  },
}
</script>
