<template>
  <main>
    <section class="row justify-between q-pb-md">
      <q-parallax src="https://cdn.quasar.dev/img/parallax2.jpg">
        <h1 class="text-white">Message From MD</h1>
      </q-parallax>
    </section>
    <section class="row q-mt-xl q-pt-xl q-pa-xl">
      <article class="col-6">
        <q-img
          src="https://placeimg.com/500/300/nature"
          :ratio="16 / 9"
          spinner-color="primary"
          spinner-size="82px"
        />
      </article>
      <article class="col-6">
        <section
          class="text-center text-h5 title_center"
          style="max-width: 250px; width: 100%"
        >
          <div>Message From MD</div>
          <q-separator inset spaced size="8px" color="secondary" />
        </section>
        <div class="q-pa-md" v-html='message[0]'>

        </div>
      </article>
    </section>
  </main>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      slide: 0,
    };
  },
  async created(){
    await this.getData({
      url:"MessageFromMD"
    });
  },
  computed:{
    ...mapState("Home",['messageFromMD']),
    message(){
      return this.messageFromMD?  Object.values(this.messageFromMD) :{}
    }
  },
  methods:{
    ...mapActions("Home",['getData'])
  }
};
</script>
