<template>
  <main>
    <section class="row justify-between q-pb-md">
      <q-parallax src="https://cdn.quasar.dev/img/parallax2.jpg">
        <h1 class="text-white">Testimonial</h1>
      </q-parallax>
    </section>
    <section class="row justify-center q-gutter-xl q-px-xl q-mt-xl">
      <article class="col-xs-12 col-sm-6 col-md-2" v-for='(val,key) in peoplesTestimonial' :key='key'>
        <q-card class='text-secondary'>
          <q-card-section class="text-center">
          {{val.name}}
          </q-card-section>
          <q-card-section v-html='val.description'>

          </q-card-section>
        </q-card>
      </article>

    </section>
  </main>
</template>
<script>
import { mapActions, mapState } from 'vuex';

export default {
  data() {
    return {
      slide: 0,
    };
  },
  async created(){
    await this.getData({
      url:"Testimonial"
    });
  },
  computed:{
    ...mapState("Home",['testimonial']),
    peoplesTestimonial(){
      return this.testimonial?  Object.values(this.testimonial) :{}
    }
  },
  methods:{
    ...mapActions("Home",['getData'])
  }
};
</script>
