<template>
  <main>
    <AboutVito />
    <ProfessionalTeam />
    <Universities />
    <Footer />
  </main>
</template>

<script>
import AboutVito from 'src/components/modules/landing/about-us/AboutVito.vue';
import ProfessionalTeam from 'src/components/modules/landing/ProfessionalTeam.vue';
import Universities from 'src/components/modules/landing/Universities.vue';
import Footer from 'src/components/common/Footer.vue';
export default {
  components: {
    AboutVito,
    ProfessionalTeam,
    Universities,
    Footer,
  },
};
</script>

<style scoped></style>
