<template>
  <main>
    <Hero />
    <Guide />
    <About />
    <PopularCourses />
    <ProfessionalTeam />
    <WhatPeopleSay />
    <Universities />
    <Footer />
  </main>
</template>

<script>
import Hero from 'src/components/modules/landing/Hero.vue';
import Guide from 'src/components/modules/landing/Guide.vue';
import About from 'src/components/modules/landing/About.vue';
import PopularCourses from 'src/components/modules/landing/PopularCourses.vue';
import ProfessionalTeam from 'src/components/modules/landing/ProfessionalTeam.vue';
import WhatPeopleSay from 'src/components/modules/landing/WhatPeopleSay.vue';
import Universities from 'src/components/modules/landing/Universities.vue';
import Footer from 'src/components/common/Footer.vue';
export default {
  components: {
    Hero,
    Guide,
    About,
    PopularCourses,
    ProfessionalTeam,
    WhatPeopleSay,
    Universities,
    Footer,
  },
};
</script>

<style scoped></style>
