<template>
  <main>
    <MessageMd />
    <Footer />
  </main>
</template>

<script>
import MessageMd from 'src/components/modules/landing/about-us/MessageMd.vue';

import Footer from 'src/components/common/Footer.vue';
export default {
  components: {
    MessageMd,
    Footer,
  },
};
</script>

<style scoped></style>
