<template>
  <main>
    <Testimonial />
    <Footer />
  </main>
</template>

<script>
import Testimonial from 'src/components/modules/landing/about-us/Testimonial.vue';
import Footer from 'src/components/common/Footer.vue';
export default {
  components: {
    Testimonial,
    Footer,
  },
};
</script>

<style scoped></style>
