<template>
  <main class=''>
    <section class="row justify-between q-pb-md">
      <q-parallax src="https://cdn.quasar.dev/img/parallax2.jpg">
        <h6 class="text-white">Home // {{params}}</h6>
      </q-parallax>
    </section>

    <section class='row items-center justify-evenly '>
      <article class='col-md-7 q-gutter-y-md'>

        <section>
          <q-img :src='currentCourseAbout.images
' alt='' height='300px' width='700px'/>
        </section>
        <section>

          <div class="q-pa-md">
            <div class="q-gutter-y-md" style="max-width: 700px">
              <q-card>
                <q-tabs
                  v-model="tab"
                  dense
                  class="text-grey"
                  active-color="primary"
                  indicator-color="primary"
                  align="justify"
                  narrow-indicator
                >
                  <q-tab name="details" label="Description" v-if='currentCourseDetails'/>
                  <q-tab name="whyus" label="Why Choose Us ?" v-if='currentCourseWhyUs' />
                  <q-tab name="format" label="Course Format ?" v-if='currentCourseFormat'/>
                  <q-tab name="faq" label="Course FAQ"  v-if='currentCourseFAQ'/>
                  <q-tab name="enroll" label="Enroll"/>
                </q-tabs>

                <q-separator />

                <q-tab-panels v-model="tab" animated>
                  <q-tab-panel name="details">
                    <p v-html='currentCourseDetails'></p>
                  </q-tab-panel>

                  <q-tab-panel name="whyus">
                    <p v-html='currentCourseWhyUs'></p>
                  </q-tab-panel>
                  <q-tab-panel name="format">
                    <p v-html='currentCourseFormat'></p>
                  </q-tab-panel>
                  <q-tab-panel name="faq" >
                    <p v-html='currentCourseFAQ'></p>
                  </q-tab-panel>
                  <q-tab-panel name="enroll" >
<section>


                    <q-input type='text' label='Full Name *' outlined dense> </q-input>
                    <q-input type='text' label='Mobile No. *' outlined dense> </q-input>
                    <button class='bg-primary text-white'>Submit Now</button>
</section>


                  </q-tab-panel>


                </q-tab-panels>
              </q-card>


            </div>
          </div>

        </section>
      </article>




    </section>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';

export default {
  name: 'CoursesDetails',

  data(){
    return{
      params:"",
      tab:''
    }
  },
  async created() {
    await this.getCourseInfo();

  },
  watch:{
    $route:{immediate:true,
      deep:true,
      async handler(val){

        this.params  = val.params.param;
        await this.getCourseInfo()

        if(this.currentCourseDetails){
          this.tab = 'details'
        }else {
          this.tab='enroll'
        }
      }
    }
  },
  computed:{
    ...mapState('Courses',['courses']),
    currentParamsCourse(){
      return this.courses ? Object.values(this.courses).filter((val)=>val?.about?.url === this.params) :{}
    },
    currentCourseAbout(){
      return this.currentParamsCourse[0]?.about ? this.currentParamsCourse[0]?.about :{}
    },
    currentCourseDetails(){
      return this.currentParamsCourse[0]?.details?.description ?  this.currentParamsCourse[0]?.details.description :''
    },
    currentCourseWhyUs(){
      return this.currentParamsCourse[0]?.whyus?.description ? this.currentParamsCourse[0]?.whyus?.description :''
    },
    currentCourseFormat(){
      return this.currentParamsCourse[0]?.coursesformat?.description ? this.currentParamsCourse[0]?.coursesformat?.description :''
    },
    currentCourseFAQ(){
      return this.currentParamsCourse[0]?.coursesfaq?.description ? this.currentParamsCourse[0]?.coursesfaq?.description :''
    },


  },
  methods:{
    ...mapActions("Courses",["getCourseData"]),

    async getCourseInfo(){
      await this.getCourseData({
        url:`Courses`
      })
    },


  }
};
</script>

<style scoped>

</style>
