<template>
  <main>
    <section class="q-pa-md">
      <q-card>
        <q-card-section class="bg-accent text-dark"
        >Blog</q-card-section
        >
        <q-card-section>
          <q-input
            outlined
            bottom-slots
            v-model="blogData.title"
            type="text"
            label="Event Title"
          />
        </q-card-section>

        <q-card-section>
          <div class="text-body1 q-pa-md-sm">Description</div>
          <q-editor
            content-class="bg-accent"
            toolbar-bg="accent"
            v-model="blogData.description"
            min-height="10rem"
            :toolbar="[
              [
                'bold',
                'italic',
                'strike',
                'left',
                'center',
                'right',
                'justify',
                'link',
                'unordered',
              ],
            ]"
          />
        </q-card-section>
        <q-card-section>
          <q-input
            outlined
            bottom-slots
            v-model="blogData.createdBy"
            type="text"
            label="Creator Name"
          />
        </q-card-section>
        <q-card-section>
          <div class="drop_area">
            <q-input
              v-model="blogData.images"
              type="file"
              borderless
              class="position-relative"
              hidden="hidden"
              accept="image/png, image/jpeg"
              @change="fileChange"
            >
              <div
                v-show="!url"
                class="text-dark absolute-center q-mt-xl q-pt-xl"
              >
                <div>
                  <q-icon name="add" size="90px" />
                  <p>Add Image Here</p>
                </div>
              </div>
              <div class="absolute-center q-mt-xl q-pt-xl">
                <q-img
                  :src="url"
                  spinner-color="primary"
                  spinner-size="82px"
                  height="190px"
                  width="350px"
                  contain
                />
              </div>
            </q-input>
          </div>
        </q-card-section>
        <q-card-section class="row justify-end">
          <q-btn color="primary" @click="addBlogData()" label="Add" />
        </q-card-section>
      </q-card>
    </section>

    <!--
for displaying newsAndEvent -->
    <section class="q-pa-md">
      <q-card>
        <q-markup-table>
          <thead class="bg-accent">
          <tr>
            <!-- <th class="text-left">S.No</th> -->
            <th class="text-left">Image</th>
            <th class="text-left">Title</th>
            <th class="text-left">Description</th>
            <th class="text-left">Created By</th>
            <th class="text-left">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(val, key) in blog" :key="key">
            <td class="text-left">
              <q-img
                :src="val.images"
                spinner-color="primary"
                height="80px"
                width="80px"
                spinner-size="30px"
              />
            </td>
            <td class="text-left">{{ val.title }}</td>

            <td class="text-left" v-html="val.description"></td>
            <td class="text-left" v-html="val.createdBy"></td>

            <td class="text-left">
              <q-icon
                name="edit"
                class="cursor-pointer material-icons-outlined"
                size="24px"
                @click="changeBlogVal(val, key)"
              />
              <q-icon
                name="delete"
                class="cursor-pointer material-icons-outlined"
                @click="deleteDialog(key)"
                size="24px"
              />
            </td>



            <q-dialog v-model="prompt">
              <q-card style="min-width: 350px">
                <q-card-section class="q-pt-none">
                  <q-input
                    v-model="blogUpdate.title"
                    type="text"
                    label="Event Title"
                  />
                  <div class="text-body1 q-pa-md-sm">Description</div>
                  <q-editor
                    v-model="blogUpdate.description"
                    min-height="5rem"
                    flat
                    content-class="bg-accent"
                    toolbar-bg="accent"
                  />
                  <q-img
                    :src="blogUpdate.images"
                    :ratio="16 / 9"
                    height="100"
                    spinner-color="primary"
                    spinner-size="82px"
                  />
                  <!-- <q-input v-model="updatedImage" type="file" /> -->
                  <div class="drop_area">
                    <q-input
                      v-model="updatedImage"
                      type="file"
                      borderless
                      class="position-relative"
                      hidden="hidden"
                      @change="fileChange"
                    >
                      <div
                        v-show="!url"
                        class="text-dark absolute-center q-mt-xl q-pt-xl"
                      >
                        <div>
                          <q-icon name="add" size="90px" />
                          <p>Add Image Here</p>
                        </div>
                      </div>
                      <div class="absolute-center q-mt-xl q-pt-xl">
                        <q-img
                          :src="url"
                          spinner-color="primary"
                          spinner-size="82px"
                          height="190px"
                          width="350px"
                          contain
                        />
                      </div>
                    </q-input>
                  </div>
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn flat label="Cancel" v-close-popup />

                  <q-btn
                    flat
                    label="Update"
                    @click="updateBlog()"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>

            <!-- delete dialog -->

            <q-dialog v-model="deletePrompt">
              <q-card style="min-width: 10px">
                <q-card-section>
                  Are you sure you want to delete this Blog?
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn flat label="Cancel" v-close-popup />

                  <q-btn
                    flat
                    label="Delete"
                    @click="deleteBlog(blogUpdate.key)"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </tr>
          </tbody>
        </q-markup-table>
      </q-card>
    </section>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { errorNotify } from 'src/utils/notify';
const blogDefault = {
  title: '',
  description: '',
  images: '',
  createdBy: '',
  createdAt: Date(),
};

export default {
  name: 'Blog',
  data() {
    return {
      blogData: {
        ...blogDefault,
      },
      blogUpdate: {
        key: '',
        title: '',
        images: '',
        description: '',
        updatedAt: Date(),
      },
      updatedImage: '',
      prompt: false,
      deletePrompt: false,
      url: null,
    };
  },
  created() {
    this.getBlog();
  },
  computed: {
    ...mapState('Home', ['blog']),
  },
  methods: {
    ...mapActions('Home', [
      'pushData',
      'getData',
      'updateData',
      'deleteData',
      'uploadImage',
    ]),
    fileChange(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
    },
    async addBlogData() {
      if (!this.blogData.title) {
        errorNotify('Enter Title');
      } else if (!this.blogData.description) {
        errorNotify('Enter Description');
      }else if (!this.blogData.createdBy) {
        errorNotify('Enter Creator Name');
      }

      else if (!this.blogData.images) {
        errorNotify('Select Image');
      } else {
        const key = await this.pushData({
          url: 'Blog',
          data: {
            ...this.blogData,
          },
        });
        this.updateBlogKey(this.blogData, key);
      }
    },

    changeBlogVal(val, key) {
      this.blogUpdate.key = key;
      this.blogUpdate.title = val.title;
      this.blogUpdate.description = val.description;
      this.blogUpdate.createdAt = val.createdAt;
      this.blogUpdate.images = val.images;
      this.prompt = true;
    },
    deleteDialog(key) {
      this.deletePrompt = true;
      this.blogUpdate.key = key;
    },
    async updateBlog() {
      await this.updateData({
        url: 'Blog',
        id: this.blogUpdate.key,
        data: {
          ...this.blogUpdate,
          // timestamp: moment(Date()).format('YYYY-MM-DD'),
        },
      });
    await  this.uploadImageFirebase(this.blogUpdate.key, this.updatedImage);
    },

    async getBlog() {
      await this.getData({
        url: 'Blog',
      });
    },
    async updateBlogKey(val, key) {
      await this.updateData({
        url: 'Blog',
        id: key,
        data: {
          ...val,
          key: key,
        },
      });
      await this.uploadImageFirebase(key, val.images);
    },
    async deleteBlog(key) {
      await this.deleteData({
        url: 'Blog',
        id: key,
      });
    },
    async uploadImageFirebase(id, images) {
      await this.uploadImage({
        url: 'Blog',
        id: id,
        images: images,
      });
      this.url = null;
      this.blogData.images = '';
      this.blogData = { ...blogDefault };
    },
  },
};
</script>
<style scoped>
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 200px;
}
</style>
