<template>
  <main>
    <section class="q-pa-md">
      <q-card>
        <q-card-section class="bg-accent text-dark">Hero</q-card-section>
        <q-card-section>
          <q-input
            outlined
            bottom-slots
            v-model="Hero.title"
            type="text"
            label="Hero Title"
          >
            <template v-slot:append>
              <q-icon
                name="close"
                @click="Hero.title = ''"
                class="cursor-pointer"
              />
            </template>
          </q-input>
          <q-input
            outlined
            bottom-slots
            v-model="Hero.subtitle"
            type="text"
            label="Hero Subtitle"
          >
            <template v-slot:append>
              <q-icon
                name="close"
                @click="Hero.subtitle = ''"
                class="cursor-pointer"
              />
            </template>
          </q-input>
          <div class="drop_area">
            <q-input
              v-model="Hero.images"
              type="file"
              borderless
              class="position-relative"
              hidden="hidden"
              @change="fileChange"
              accept="image/png, image/jpeg"
            >
              <div
                v-show="!url"
                class="text-dark absolute-center q-mt-xl q-pt-xl"
              >
                <div>
                  <q-icon name="add" size="90px" />
                  <p>Add Image Here</p>
                </div>
              </div>
              <div class="absolute-center q-mt-xl q-pt-xl">
                <q-img
                  :src="url"
                  spinner-color="primary"
                  spinner-size="82px"
                  height="190px"
                  width="350px"
                  contain
                />
              </div>
            </q-input>
          </div>
        </q-card-section>

        <q-card-section class="row justify-center">
          <q-btn color="primary" label="Add" @click="addHero()" />
        </q-card-section>
      </q-card>
    </section>
    <section class="q-pa-md">
      <q-card>
        <q-markup-table>
          <thead class="bg-accent">
          <tr>
            <!-- <th class="text-left">S.No</th> -->
            <th class="text-left">Hero Image</th>
            <th class="text-left">Title</th>
            <th class="text-left">Descriptions</th>
            <th class="text-left">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(val, key) in hero" :key="key">
            <td class="text-left">
              <q-img
                :src="val.images"
                spinner-color="primary"
                height="80px"
                width="80px"
                spinner-size="30px"
              />
            </td>

            <td class="text-left">
              {{ val.title }}
            </td>
            <td class="text-left">
              {{ val.subtitle }}
            </td>
            <td class="text-left">
              <q-icon
                name="edit"
                class="cursor-pointer material-icons-outlined"
                size="24px"
                @click="changeHeroVal(val, key)"
              />
              <q-icon
                name="delete"
                @click="deleteDialog(key)"
                size="25px"
                class="cursor-pointer material-icons-outlined"
              ></q-icon>
            </td>
          </tr>
          </tbody>
        </q-markup-table>
      </q-card>
      <!--
for displaying newsAndEvent -->

      <!-- edit and delete button -->

      <!-- update dialog box -->

      <q-dialog v-model="prompt">
        <q-card style="min-width: 350px">
          <q-card-section class="q-pt-md">
            <q-input
              v-model="heroUpdate.title"
              type="text"
              label="Hero Title"
            />
            <q-input
              v-model="heroUpdate.subtitle"
              type="text"
              label="Hero Subtitle"
            />
            <q-img
              :src="heroUpdate.images"
              :ratio="16 / 9"
              spinner-color="primary"
              spinner-size="82px"
            />
            <!-- <q-input v-model="updatedImage" type="file" label="Image" /> -->
            <div class="drop_area q-mt-md">
              <q-input
                v-model="updatedImage"
                type="file"
                borderless
                class="position-relative"
                hidden="hidden"
                @change="fileChange"
              >
                <div
                  v-show="!url"
                  class="text-dark absolute-center q-mt-xl q-pt-xl"
                >
                  <div>
                    <q-icon name="add" size="90px" />
                    <p>Add Image Here</p>
                  </div>
                </div>
                <div class="absolute-center q-mt-xl q-pt-xl">
                  <q-img
                    :src="url"
                    spinner-color="primary"
                    spinner-size="82px"
                    height="190px"
                    width="300px"
                    contain
                  />
                </div>
              </q-input>
            </div>
          </q-card-section>
          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="Cancel" v-close-popup />

            <q-btn flat label="Update" @click="updateHero()" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
      <!-- delete dialog -->

      <q-dialog v-model="deletePrompt">
        <q-card style="min-width: 10px">
          <q-card-section> Are you sure you want to delete? </q-card-section>
          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="Cancel" v-close-popup />

            <q-btn
              flat
              label="Delete"
              @click="deleteHero(heroUpdate.key)"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </section>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { errorNotify } from 'src/utils/notify';
const HeroDefault = {
  title: '',
  subtitle: '',
  images: '',
  createdAt: Date(),
};
export default {
  name: 'HeroSection',
  data() {
    return {
      count: Number(0),
      label: 'Add',
      columns: [
        {
          name: 'product',
          required: true,
          label: 'Product Name',
          align: 'left',
          field: 'product',
        },
        {
          name: 'description',
          required: true,
          label: 'Product Description',
          align: 'left',
          field: 'description',
        },
        {
          name: 'pimage',
          required: true,
          label: 'Product Image',
          align: 'left',
          field: 'pimage',
        },
        {
          name: 'actions',
          label: 'Actions',
          align: 'center',
          field: 'actions',
        },
      ],
      rows: [],
      text: '',

      Hero: {
        ...HeroDefault,
      },
      heroUpdate: {
        key: '',
        title: '',
        subtitle: '',
        images: '',
        createdAt: '',
        updatedAt: Date(),
      },
      updatedImage: '',
      prompt: false,
      url: null,
      deletePrompt: false,
    };
  },
 async created() {
  await  this.getHero();
  },
  computed: {
    ...mapState('Home', ['hero']),
  },

  methods: {
    ...mapActions('Home', [
      'pushData',
      'getData',
      'updateData',
      'deleteData',
      'uploadImage',
    ]),

    fileChange(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
    },

    changeHeroVal(val, key) {

      this.heroUpdate.key = key;
      this.heroUpdate.title = val.title;
      this.heroUpdate.subtitle = val.subtitle;
      this.heroUpdate.createdAt = val.createdAt;
      this.heroUpdate.images = val.images;
      this.prompt = true;
    },

    deleteDialog(key) {
      this.deletePrompt = true;
      this.heroUpdate.key = key;
    },
    async updateHero() {
      await this.updateData({
        url: 'Hero',
        id: this.heroUpdate.key,
        data: {
          ...this.heroUpdate,
          // timestamp: moment(Date()).format('YYYY-MM-DD'),
        },
      });
    await  this.uploadImageFirebase(this.heroUpdate.key, this.updatedImage);
    },

    async addHero() {
      if (!this.Hero.title) {
        errorNotify('Enter Hero Title');
      } else if (!this.Hero.subtitle) {
        errorNotify('Enter Hero Subtitle');
      } else if (!this.Hero.images) {
        errorNotify('Select Image');
      } else {
        const key = await this.pushData({
          url: 'Hero',
          data: {
            ...this.Hero,
          },
        });
       await this.uploadImageFirebase(key, this.Hero.images);

        this.Hero = { ...HeroDefault };
      }
    },
    async getHero() {
      try {
        await this.getData({
          url: 'Hero',
        });
      } catch (error) {
        console.log('Error', error);
      }
    },
    async deleteHero(key) {
      await this.deleteData({
        url: 'Hero',
        id: key,
      });
    },
    async uploadImageFirebase(id, images) {
      console.log(images);
      await this.uploadImage({
        url: 'Hero',
        id: id,
        images: images,
      });
      this.url = null;
      this.Hero.images = '';
    },
  },
};
</script>

<style scoped>
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 200px;
}
</style>
