<template>
  <main class='q-gutter-y-xl'>
    <section class=''>
      <q-btn type='button' label='Add New Courses' @click='openDialog()' flat color='white' class='bg-blue-7'/>
    </section>


    <!--  for  add destination field -->

    <q-dialog v-model='openDialogPrompt'>
      <q-card style='min-height: 400px;width: 500px'>
        <q-form @submit.prevent='addCourses'>

          <q-card-section class="">
            <q-input v-model="coursesData.courseName" type="text" label="Course Name" dense outlined

            />



          </q-card-section>
          <q-card-section>
            <div class="drop_area">
              <q-input
                v-model="coursesData.images"
                type="file"
                borderless
                class="position-relative"
                accept="image/png, image/jpeg"
                hidden="hidden"
                @change="fileChange"

              >
                <div
                  v-show="!url"
                  class="text-dark absolute-center q-mt-xl q-pt-xl"
                >
                  <div>
                    <q-icon name="add" size="90px" />
                    <p>Add Course Image Here</p>
                  </div>
                </div>
                <div class="absolute-center q-mt-xl q-pt-xl">
                  <q-img
                    :src="url"
                    spinner-color="primary"
                    spinner-size="82px"
                    height="190px"
                    width="350px"
                    contain
                  />
                </div>
              </q-input>
            </div>
          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="primary" v-close-popup />
            <q-btn flat label="Add" color="primary" type='submit' />
          </q-card-actions>
        </q-form>


      </q-card>

    </q-dialog>



    <!--  qtabtapannel for destinations-->

    <section class='row q-gutter-x-xl'>
      <div v-for='(val) in courses' :key='val.about.url'>



<p>

          <img :src='val.about.images' height='80px' width='150px' loading='lazy' @click="$router.push(`/dashboard/courses/${val.about.url}`)"  class='cursor-pointer'/>
</p>
          <p @click="$router.push(`/dashboard/courses/${val.about.url}`)"  class='cursor-pointer'>
            {{val.about.courseName}}
          </p>


        <q-btn flat label="Delete" color="red" @click='deleteData(val)'/>

      </div>

    </section>

  </main>
</template>

<script>
import { firebaseDelete } from '../../../api/firebase';

const coursesDefault={
  courseName:'',
  images: '',
}
import {mapState,mapActions} from 'vuex';
import { errorNotify } from '../../../utils/notify';

export default {
  name: 'Courses',
  components: {   },
  data(){
    return{
      url: null,
      updatedImage: '',

      openDialogPrompt:false,
      coursesData:{...coursesDefault},

    }
  },
  computed:{
    ...mapState('Courses',['courses']),

  },

  watch:{
    courses:{
      deep:true,
      immediate:true,
      handler(val){
        const data = Object.values(val);


      }
    }
  },
  async created() {
    await this.getCoursesDatas()
  },
  methods:{
    ...mapActions('Courses',['addData','getCourseData','uploadImageAndGet']),
    openDialog(){
      this.openDialogPrompt = true;
    },

    async deleteData(val){
        await firebaseDelete(`Courses/${val.about.url}`)
         await this.getCoursesDatas()
    },

    async fileChange(e) {
      const res = await this.uploadImageAndGet({
        url:`Courses/${this.coursesData?.courseName?.toLowerCase().replace(/\s/g, '')}/about`,
        images: e.target.files,
      });
      this.coursesData.images = res;
      this.url = res


    },


    async addCourses(){
      try {
        if (!this.coursesData.courseName) {
          errorNotify("Enter Course Name")
        } else if (!this.coursesData.images) {
          errorNotify("Please add image")
        } else {
          await this.addData({
            url: `Courses/${this.coursesData?.courseName?.toLowerCase().replace(/\s/g, '')}/about`,
            data: { ...this.coursesData, url: this.coursesData?.courseName?.toLowerCase().replace(/\s/g, '') }

          })
          this.url = null
          this.openDialogPrompt = false;
          this.coursesData = { ...coursesDefault }
          await this.getCoursesDatas()
        }
      }
      catch (e){
        console.log(e);
      }
    },

    async getCoursesDatas(){
      await this.getCourseData({
        url:'Courses'
      })

    }
  }
};
</script>

<style scoped>
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 200px;
}
</style>
