<template>
<main class='q-gutter-y-xl'>
  <section>
    <q-btn type='button' label='Add New Destination' @click='openDialog()' flat color='white' class='bg-blue-7'/>
  </section>


<!--  for  add destination field -->

    <q-dialog v-model='openDialogPrompt'>
      <q-card style='min-height: 400px;width: 500px'>
        <q-form @submit.prevent='addDestination'>

        <q-card-section class="">
          <q-input v-model="destinationData.destinationName" type="text" label="Destination Name" dense outlined


          />



        </q-card-section>
          <q-card-section>
            <div class="drop_area">
              <q-input
                v-model="destinationData.images"
                type="file"
                borderless
                class="position-relative"
                accept="image/png, image/jpeg"
                hidden="hidden"
                @change="fileChange"

              >
                <div
                  v-show="!url"
                  class="text-dark absolute-center q-mt-xl q-pt-xl"
                >
                  <div>
                    <q-icon name="add" size="90px" />
                    <p>Add Flag Image Here</p>
                  </div>
                </div>
                <div class="absolute-center q-mt-xl q-pt-xl">
                  <q-img
                    :src="url"
                    spinner-color="primary"
                    spinner-size="82px"
                    height="190px"
                    width="350px"
                    contain
                  />
                </div>
              </q-input>
            </div>
          </q-card-section>
        <q-card-actions align="right">
          <q-btn flat label="Cancel" color="primary" v-close-popup />
          <q-btn flat label="Add" color="primary" type='submit' />
        </q-card-actions>
        </q-form>


      </q-card>

    </q-dialog>

<!--  qtabtapannel for destinations-->

  <section class='row q-gutter-x-xl' >
    <div v-for='(val) in destination' :key='val.about.url' class='q-gutter-y-sm'>




      <img :src='val.about.images' height='80px' width='100px' loading='lazy'  class='cursor-pointer'  @click="$router.push(`/dashboard/${val.about.url}`)"/>
      <p  class='cursor-pointer'  @click="$router.push(`/dashboard/${val.about.url}`)">
        {{val.about.destinationName}}
      </p>
      <q-btn flat label="Delete" color="red" @click='deleteData(val)'/>


    </div>

  </section>

</main>
</template>

<script>
import { firebaseDelete } from '../../../../api/firebase';

const destinationDefault={
  destinationName:"",
  images: '',
}
import {mapState,mapActions} from 'vuex';
import { errorNotify } from '../../../../utils/notify';

export default {
  name: 'AddDestination',
  components: {   },
  data(){
    return{
      url: null,
      updatedImage: '',

      openDialogPrompt:false,
      destinationData:{...destinationDefault},

    }
  },
  computed:{
    ...mapState('Destination',['destination']),

  },

  watch:{
    destination:{
        deep:true,
      immediate:true,
      handler(val){
            const data = Object.values(val);


      }
    }
  },
 async created() {
      await this.getDestinationDatas();
  },
  methods:{
    ...mapActions('Destination',['addData','getDestinationData','uploadImageAndGet']),
    openDialog(){
      this.openDialogPrompt = true;
    },


    async deleteData(val){
      await firebaseDelete(`Destination/${val.about.url}`)
      await this.getDestinationDatas()
    },
   async fileChange(e) {
      const res = await this.uploadImageAndGet({
        url:`Destination/${this.destinationData?.destinationName?.toLowerCase().replace(/\s/g, '')}/about`,
        images: e.target.files,
      });
      this.destinationData.images = res;
      this.url = res


    },


    async addDestination(){
      try {
        if (!this.destinationData.destinationName) {
          errorNotify("Enter Destination Name")
        } else if (!this.destinationData.images) {
          errorNotify("Please Add Flag of Country")
        } else {

          await this.addData({
            url: `Destination/${this.destinationData?.destinationName?.toLowerCase().replace(/\s/g, '')}/about`,
            data: {
              ...this.destinationData,
              url: this.destinationData?.destinationName?.toLowerCase().replace(/\s/g, '')
            }

          })
          this.url = null
          this.openDialogPrompt = false;
          this.destinationData = { ...destinationDefault }
          await this.getDestinationDatas()
        }
      }
catch (e){
  console.log(e);
}
    },
    async getDestinationDatas(){
      await this.getDestinationData({
          url:"Destination"
      })

    }
  }
};
</script>

<style scoped>
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 200px;
}
</style>
