<template>
<main >

  <section class='row items-center q-gutter-x-xl'>
    <span class='text-body1'> Institutions</span>
    <span>
              <q-btn  label="Add New" color="primary"  @click='openDialogPrompt=true'  />

    </span>
  </section>
  <section>

    <q-dialog v-model='openDialogPrompt'>
      <q-card  style='width: 500px;height: 55vh'>
        <q-form @submit.prevent='addInstitution'>

          <q-card-section class="q-gutter-y-md">
            <q-input v-model="institutionData.name" type="text" label="Institution Name" dense outlined/>
            <q-input v-model="institutionData.websiteUrl" type="text" label="Website Url" dense outlined/>

            <div class="drop_area">
              <q-input
                v-model="institutionData.image"
                type="file"
                borderless
                class="position-relative"
                hidden="hidden"
                @change="fileChange"
                accept="image/png, image/jpeg"
              >
                <div
                  v-show="!url"
                  class="text-dark absolute-center q-mt-xl q-pt-xl"
                >
                  <div>
                    <q-icon name="add" size="90px" />
                    <p>Add Image Here</p>
                  </div>
                </div>
                <div class="absolute-center q-mt-xl q-pt-xl">
                  <q-img
                    :src="url"
                    spinner-color="primary"
                    spinner-size="82px"
                    height="190px"
                    width="350px"
                    contain
                  />
                </div>
              </q-input>
            </div>


          </q-card-section>
          <q-card-actions align="right">
            <q-btn flat label="Cancel" color="primary" v-close-popup />
            <q-btn flat label="Add" color="primary" type='submit' />
          </q-card-actions>

        </q-form>


      </q-card>

    </q-dialog>



  </section>

  <section class='q-pt-md'>
    <article v-for='(val,key) in currentDestinationInstitution' :key='key' class='q-gutter-y-md' >
      <div class='cursor-pointer row items-center' >

          <span @click='openWebSite(val)'>

        {{val.name}}
          </span>
        <span>
      <q-btn flat   icon='delete' color="primary"  @click='deleteInstitution(val)' />

        </span>
      </div>

    </article>
  </section>
</main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { errorNotify } from '../../../../utils/notify';

const institutionDefault={
  name:'',
  websiteUrl:'',
  image:'',
}
export default {
  name: 'AddInstitutions',
  props:{

    currentDestinationData:{
      type:Array
    }

  },
  data(){
    return{
      institutionData:{...institutionDefault},
      openDialogPrompt:false,
      studyDestinationData:[],
        url:""
    }
  },

  async created() {
    await this.getInstitution()
  },
  computed:{
    ...mapState('Destination',['institution']),
    currentDestinationInstitution(){
      return this.institution ? Object.values(this.institution).filter((val)=>val?.from === this.studyDestinationData[0]?.about?.destinationName) : {}
    }
  },
  watch:{
    currentDestinationData:{
      immediate:true,
      deep:true,
      handler(val){

        this.studyDestinationData = {...val}
      }

    },

  },
  methods:{
    ...mapActions('Destination',['pushData','getDestinationData','deleteData','updateData','uploadImageAndGet']),

    async fileChange(e) {
      const res = await this.uploadImageAndGet({
        url:`Institution`,
        images: e.target.files,
      });
      this.institutionData.image = res;
      this.url = res


    },

    async addInstitution() {

      if (!this.institutionData.name) {

        errorNotify("Enter Institution Name")
      } else if (!this.institutionData.websiteUrl) {
        errorNotify("Enter Website Url")
      }else if (!this.institutionData.image) {
        errorNotify("Enter Image")
      }
      else {

      const key=  await this.pushData({
          url: 'Institution',

          data:
            {
              ...this.institutionData,


            }

        })
        await  this.updateInstitutionKey(key);
        this.institutionData = { ...institutionDefault };
        this.openDialogPrompt = false;
      }

    },
    async updateInstitutionKey(key){
        await this.updateData({
          url:"Institution",
          id:key,
          data:{

            ...this.institutionData, from: `${this.studyDestinationData[0].about.destinationName}`,
            key:key
          }
        })
      await this.getInstitution()
    },
    async getInstitution(){
      await this.getDestinationData({
        url:'Institution',
      })
    },
    openWebSite(value){
      window.open(value.websiteUrl);
    },

   async deleteInstitution(val){
     console.log(val);
        await this.deleteData({
          url:"Institution",
          id:val
        })
     await this.getInstitution()
    }
  }
};
</script>

<style scoped>
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 200px;
}
</style>
