<template>
<main>
  <section class='row items-center'>

<article class=''>

    <q-btn @click='$router.go(-1)' icon='arrow_back' flat/>
    <span>{{currentDestinationData[0].about.destinationName || "Go Back"}}</span>
</article>

  </section>





<!--  tabs-->
<!--  foundations-->
  <section class='row q-col-gutter-x-xl'>
    <article class='col-md-9'>


    <Foundataion :currentDestinationData='currentDestinationData'/>


    <WhyChoose :currentDestinationData='currentDestinationData'/>

    <LivingExpenses :currentDestinationData='currentDestinationData'/>
      <PointsToBeRemembered :currentDestinationData='currentDestinationData'/>
    <Admission :currentDestinationData='currentDestinationData'/>

    </article>

    <article class=' justify-center'>
      <AddInstitutions :currentDestinationData='currentDestinationData'/>
    </article>
  </section>




</main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import Foundataion from './Foundataion';
import WhyChoose from './WhyChoose';
import LivingExpenses from './LivingExpenses';
import Admission from './Admission';
import PointsToBeRemembered from './PointsToBeRemembered';
import AddInstitutions from './AddInstitutions';
const destinationTabDefault={
  tabName:""
}
export  default {
  name:"DestinationDetails",
  components: { AddInstitutions, Foundataion ,WhyChoose,LivingExpenses,Admission,PointsToBeRemembered},
  data(){
return{
  params:'',
  destinationTab:{...destinationTabDefault}
}
  },

  watch:{
    route:{
      immediate:true,
      deep:true,
    async  handler(val){
        this.params = this.$route?.params?.params;

      }
    }
  },
  async created() {
       await this.getDestinationDatas();
  },
  computed:{
      ...mapState('Destination',['destination']),
    currentDestinationData(){
        return Object.values(this.destination).filter((val)=>val?.about?.url === this.params)
    },
  },
  methods:{
    ...mapActions('Destination',['getDestinationData']),
        async getDestinationDatas(){
          await this.getDestinationData({

            url:`Destination`
          })
        }
  }
}

</script>

<style scoped>

</style>
