<template>
  <main>
    <section class="q-pa-md">
      <q-card>
        <q-card-section class="bg-accent text-dark">Why {{studyDestinationData[0].about.destinationName || 'Us'}} ?</q-card-section>
        <q-card-section>
          <q-editor
            v-model="whyUsData.description"
            min-height="5rem"
            content-class="bg-accent"
            toolbar-bg="accent"
            :dense="$q.screen.lt.md"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana',
            }"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify'],
                },
              ],
              [
                'bold',
                'italic',
                'strike',
                'underline',
                'subscript',
                'superscript',
              ],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7',
                  ],
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana',
                  ],
                },
                'removeFormat',
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
              ['undo', 'redo'],
              ['viewsource'],
            ]"
          />
        </q-card-section>
        <q-card-section class="row justify-end">
          <q-btn color="primary" label="Post" @click="addDataInFirebase()" />
        </q-card-section>
      </q-card>
    </section>
  </main>
</template>

<script>
import { mapState,mapActions } from 'vuex';
import { WhyChoose } from '../../../../utils/formatters/FoundationDTO';

const whyUsDefault={
  description:''
}
export default {
  name: 'WhyUs',
  props:{
    currentDestinationData:{
      type:Array
    }
  },
  data(){
    return{
      whyUsData:{...whyUsDefault},
      studyDestinationData:[]
    }
  },

  async created() {
    await this.getDataFromFirebase();
  },
  computed: {
    ...mapState('Destination', ['whyUs']),
  },
  watch:{
    currentDestinationData:{
      immediate:true,
      deep:true,
      handler(val){
        this.studyDestinationData = {...val}
      }

    },
    whyUs:{
      immediate:true,
      deep:true,
      handler(val){
       const DTOVal = WhyChoose.receive(val)
        this.whyUsData =  {...DTOVal}
      }

    }
  },

  methods: {
    ...mapActions('Destination', ['addData', 'getWhyUs']),

    async addDataInFirebase() {

      await this.addData({
        url: `Destination/${this.studyDestinationData[0]?.about?.url}/whyus`,
        data: {
          ...this.whyUsData,
          title:`Why ${this.studyDestinationData[0]?.about?.destinationName }`,
          url:`Destination/${this.studyDestinationData[0]?.about?.url}/whyus`
        },
      });
      this.whyUsData = {...whyUsDefault}
      await this.getDataFromFirebase()
    },
    async getDataFromFirebase() {
      await this.getWhyUs({
        url: `Destination/${this.studyDestinationData[0]?.about?.url}/whyus`,
      });
    },
  },
};
</script>

<style scoped>

</style>
