<template>
  <main>
    <section className=''>


        <q-btn @click='$router.go(-1)' icon='arrow_back' flat />

        <span>{{ currentCourseAbout.courseName}}</span>




    </section>


    <!--  tabs-->
    <!--  foundations-->
    <section className='row q-col-gutter-x-xl'>
<!--      <article className='col-md-9'>-->


      <CourseDescription  :currentCoursesData='currentCoursesData'/>

        <WhyChoose :currentCoursesData='currentCoursesData' />
        <CoursesFormat :currentCoursesData='currentCoursesData'/>
        <CoursesFAQ :currentCoursesData='currentCoursesData'/>
    </section>


  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import CourseDescription from './CourseDescription';
import WhyChoose from './WhyChoose';
import CoursesFormat from './CourseFormat';
import CoursesFAQ from './CoursesFAQ';

export default {
  name: "CoursesDetails",
  components: { CoursesFAQ, CoursesFormat, CourseDescription,WhyChoose },
  data() {
    return {
      params: '',
    }
  },

  watch: {
    $route: {
      immediate: true,
      deep: true,
      async handler(val) {
        this.params =val.params.courses;

      }
    }
  },
  async created() {
    await this.getCoursesData();
  },
  computed: {
    ...mapState('Courses', ['courses']),
    currentCoursesData() {

      return  this.courses ? Object.values(this.courses).filter((val)=>val?.about?.url === this.params) :{}
    },
    currentCourseAbout(){
      return this.currentCoursesData[0]?.about ? this.currentCoursesData[0]?.about :{}
    },
  },
  methods: {
    ...mapActions('Courses', ['getCourseData']),
    async getCoursesData() {
      await this.getCourseData({

        url: `Courses`
      })
    }
  }
}

</script>

<style scoped>

</style>
