<template>
  <main
    class="row q-px-md q-py-sm text-white bg-primary full-width justify-evenly"
  >
    <section class="">Welcome to Vito</section>
    <q-space />
    <section class="row links">
      <a href="facebook.com"><q-icon name="facebook" size="sm" /></a>
      <a href="instagram.com"><q-icon name="instagram" size="sm" /></a>
    </section>
  </main>
</template>

<script>
export default {
  name: 'Header.vue',
};
</script>

<style lang="scss">
.links {
  a {
    text-decoration: none;
    color: #4e4b66;
  }
}

.links {
  text-decoration: none;
}
</style>
