<template>
  <main class="row q-px-xl q-mx-xl q-py-md justify-evenly">
    <section
      class="row q-gutter-x-md text-dark cursor-pointer items-center"
      @click="routeChange('/about')"
    >
      Logo
      <!-- <img src="" alt="" width="100px" height="70px" /> -->
    </section>

    <div class="row q-gutter-x-lg">
      <section class="row items-center q-gutter-x-md">
        <article>
          <q-icon name="mail" size="lg" />
        </article>
        <article>
          <div class="text-purple">Mail Us</div>
          <div class="text-dark">{{ aboutData.primaryEmail }}</div>
        </article>
      </section>
      <section class="row items-center q-gutter-x-md">
        <article>
          <q-icon name="phone" size="lg" />
        </article>
        <article>
          <div class="text-purple">Call Us</div>
          <div class="text-dark row items-center">
            {{ aboutData.primaryContact }}
          </div>
          <div class="text-dark">{{ aboutData.secondaryContact }}</div>
        </article>
      </section>
      <section class="row q-gutter-x-md">
        <article>
          <div class="text-purple">{{ aboutData.availability }}</div>
          <div class="text-dark">{{ aboutData.quotes }}</div>
        </article>
      </section>
    </div>
  </main>
</template>

<script>
import { AboutUsDTO } from 'src/utils/formatters/AboutUsDTO';
import { mapState, mapActions } from 'vuex';
import { showLoading, hideLoading } from 'src/utils/loading';
export default {
  name: 'SubHeader.vue',
  async created() {

    await this.getDatas();
    hideLoading();
  },
  computed: {
    ...mapState('Home', ['about']),

    aboutData() {
      return AboutUsDTO.receive(this.about);
    },
  },
  methods: {
    ...mapActions('Home', ['getData']),

    async getDatas(){
      showLoading();
      await this.getData({
        url:"About"
      })
      hideLoading();
    },
    routeChange(routeName) {
      if (routeName === this.getCurrentRoutes) return;

      this.$router.push(routeName);
    },
  },
};
</script>

<style scoped></style>
