<template>
  <div>
    <q-splitter
      v-model="splitterModel"
      style="height: 90vh"

    >

      <template v-slot:before>
        <q-tabs
          v-model="tab"
          vertical
          class="text-teal"
        >
          <q-tab name="about" icon="account_circle" label="AboutUs" />
          <q-tab name="history" icon="history" label="History" />
          <q-tab name="mission" icon="trending_up" label="Mission" />
          <q-tab name="vision" icon="trending_up" label="Vision" />
          <q-tab name="testimonial" icon="record_voice_over" label="Testimonial" />
          <q-tab name="messageFromMD" icon="mail" label="Message From MD" />
          <q-tab name="achievement" icon="school" label="Achievements" />
          <q-tab name="teams" icon="groups" label="Teams" />
          <q-tab name="guidance" icon="groups" label="Guidance" />
        </q-tabs>
      </template>

      <template v-slot:after>
        <q-tab-panels
          v-model="tab"
          animated
          swipeable
          vertical
          transition-prev="jump-up"
          transition-next="jump-up"
          class='bg-teal-1'

        >
          <q-tab-panel name="about" >
            <div class="text-h4 q-mb-md">About Us</div>
            <AboutVito/>
                   </q-tab-panel>

          <q-tab-panel name="history">
            <div class="text-h4 q-mb-md">Our History</div>
            <OurHistory/>
            </q-tab-panel>

          <q-tab-panel name="mission">
            <div class="text-h4 q-mb-md">Our Mission</div>
           <OurMission/>
                   </q-tab-panel>
          <q-tab-panel name="vision" >
            <div class="text-h4 q-mb-md">Our Vision</div>
            <OurVision/>
          </q-tab-panel>

          <q-tab-panel name="history">
            <div class="text-h4 q-mb-md">Our History</div>
            <OurHistory/>
          </q-tab-panel>

          <q-tab-panel name="mission">
            <div class="text-h4 q-mb-md">Our Mission</div>
            <OurMission/>
          </q-tab-panel>
          <q-tab-panel name="testimonial">
            <div class="text-h4 q-mb-md">Testimonial</div>
            <Testimonial/>
          </q-tab-panel>
          <q-tab-panel name="messageFromMD">
            <div class="text-h4 q-mb-md">Message From MD</div>
            <MessageFromMD/>
          </q-tab-panel>

          <q-tab-panel name="achievement">
            <div class="text-h4 q-mb-md">Our Achievement</div>
            <Achievement/>
          </q-tab-panel>


          <q-tab-panel name="teams">
            <div class="text-h4 q-mb-md">Our Teams</div>
            <OurTeams/>
          </q-tab-panel>
          <q-tab-panel name="guidance">
            <div class="text-h4 q-mb-md">Guidance</div>
            <Guidance/>
          </q-tab-panel>


        </q-tab-panels>


      </template>

    </q-splitter>
  </div>
</template>

<script>
import AboutVito from 'src/components/modules/dashboard/about-us/AboutVito'
import OurHistory from '../../../components/modules/dashboard/about-us/OurHistory';
import OurMission from '../../../components/modules/dashboard/about-us/OurMission';
import OurVision from '../../../components/modules/dashboard/about-us/OurVision.vue';
import Testimonial from '../../../components/modules/dashboard/about-us/Testimonial';
import MessageFromMD from '../../../components/modules/dashboard/about-us/MessageFromMD';
import Achievement from '../../../components/modules/dashboard/about-us/Achievement';
import OurTeams from '../../../components/modules/dashboard/about-us/OurTeams';
import Guidance from '../../../components/modules/dashboard/about-us/Guidance';
export default {
  components: { Guidance, OurTeams, Achievement, MessageFromMD, Testimonial, OurVision,  OurMission, OurHistory, AboutVito },
  data () {
    return {
      tab: 'about',
      splitterModel: 15
    }
  }
}
</script>
