<template>
  <main>
    <section class="q-pa-md">
      <q-card>
        <q-card-section class="bg-accent text-dark">Gallery </q-card-section>
        <q-card-section>
          <div class="drop_area">
            <q-input
              v-model="galleryData.images"
              type="file"
              borderless
              class="position-relative"
              hidden="hidden"
              @change="fileChange"
              accept="image/png, image/jpeg"
            >
              <div
                v-show="!url"
                class="text-dark absolute-center q-mt-xl q-pt-xl"
              >
                <div>
                  <q-icon name="add" size="90px" />
                  <p>Add Image Here</p>
                </div>
              </div>
              <div class="absolute-center q-mt-xl q-pt-xl">
                <q-img
                  :src="url"
                  spinner-color="primary"
                  spinner-size="82px"
                  height="190px"
                  width="350px"
                  contain
                />
              </div>
            </q-input>
          </div>
        </q-card-section>
        <q-card-section class="row justify-end">
          <q-btn color="primary" @click="uploadGallery()" label="Add" />
        </q-card-section>
      </q-card>
    </section>
    <section class="text-body1 q-ma-md">
      Only 15 Galleries can be uploaded <b> ({{ galleryLength }}/15)</b>
    </section>
    <section class="q-pa-md">
      <q-card>
        <q-markup-table>
          <thead class="bg-accent">
          <tr>
            <th class="text-left">Image</th>
            <th class="text-right">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(val, key) in gallery" :key="key">
            <td class="text-left">
              <q-img
                :src="val.images"
                spinner-color="primary"
                height="80px"
                width="80px"
                spinner-size="82px"
              />
            </td>
            <td class="text-right">
              <q-icon
                name="delete"
                class="cursor-pointer material-icons-outlined"
                @click="deleteDialog(key)"
                size="24px"
              />
            </td>
            <!-- delete dialog -->

            <q-dialog v-model="deletePrompt">
              <q-card style="min-width: 10px">
                <q-card-section>
                  Are you sure you want to delete this?
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn flat label="Cancel" v-close-popup />

                  <q-btn
                    flat
                    label="Delete"
                    @click="deleteGallery(galleryUpdateKey)"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </tr>
          </tbody>
        </q-markup-table>
      </q-card>
    </section>
  </main>
</template>

<script>
import { mapActions, mapState } from 'vuex';
import { errorNotify } from 'src/utils/notify';

const galleryDefault = {
  images: '',
  createdAt: Date(),
};
export default {
  name: 'Gallery',
  data() {
    return {
      galleryData: {
        ...galleryDefault,
      },
      galleryUpdateKey: '',
      maxGallery: 15,
      url: null,
      deletePrompt: false,
    };
  },
 async created() {
   await this.getGallery();
  },
  computed: {
    ...mapState('Home', ['gallery']),
    galleryLength() {
      if (this.gallery == null || undefined) {
        return Number(0);
      } else {
        return Object.keys(this.gallery)?.length;
      }
    },
  },
  methods: {
    ...mapActions('Home', ['pushData', 'getData', 'deleteData', 'uploadImage']),
    fileChange(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
    },
    async uploadGallery() {
      if (!this.galleryData.images) {
        errorNotify('Select Image First');
      } else if (Number(this.galleryLength) >= Number(this.maxGallery)) {
        errorNotify('Try Deleting Previous Gallery');
        errorNotify('Max(10) Galleries has been Uploaded');
      } else {
        const key = await this.pushData({
          url: 'Gallery',
          data: {
            ...this.galleryData,
          },
        });

       await this.uploadImageFirebase(key, this.galleryData?.images);

        this.galleryDefault = '';
      }
    },

    deleteDialog(key) {
      this.deletePrompt = true;
      this.galleryUpdateKey = key;
    },
    async getGallery() {
      try {
        await this.getData({
          url: 'Gallery',
        });
      } catch (error) {
        console.log(error);
      }
    },
    async deleteGallery(key) {
      await this.deleteData({
        url: 'Gallery',
        id: key,
      });
    },
    async uploadImageFirebase(id, images) {
      await this.uploadImage({
        url: 'Gallery',
        id: id,
        images: images,
      });
      this.url = null;
      this.galleryData.images = '';
      this.galleryData = { ...galleryDefault };
    },
  },
};
</script>
<style scoped>
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 200px;
}
</style>
