<template>
<main class='row items-center'>


    <AddDestination/>


</main>
</template>

<script>
import AddDestination from '../../../components/modules/dashboard/destinations/AddDestination';
import AddInstitutions from '../../../components/modules/dashboard/destinations/AddInstitutions';
export default {
  name: 'Destinations',
  components: {  AddDestination }
};
</script>

<style scoped>

</style>
