<template>
  <main class="">
    <section class="q-pa-md">
      <q-card>
        <q-card-section class="text-dark">Details</q-card-section>
        <q-card-section class="row q-col-gutter-lg">
          <div class="col-6">
            <q-input
              v-model="aboutData.primaryEmail"
              label="Primary Email"
              outlined
              dense
            />
          </div>
          <div class="col-6">
            <q-input
              v-model="aboutData.secondaryEmail"
              label="Secondary Email"
              outlined
              dense
            />
          </div>
        </q-card-section>
        <q-card-section class="row q-col-gutter-lg">
          <div class="col-6">
            <q-input
              v-model="aboutData.primaryContact"
              label="Primary Contact"
              outlined
              dense
            />
          </div>
          <div class="col-6">
            <q-input
              v-model="aboutData.secondaryContact"
              label="Secondary Contact"
              outlined
              dense
            />
          </div>
        </q-card-section>
        <q-card-section class="row q-col-gutter-lg">
          <div class="col-6">
            <q-input
              v-model="aboutData.availability"
              label="Availability"
              outlined
              dense
            />
          </div>
          <div class="col-6">
            <q-input v-model="aboutData.quotes" label="Quotes" outlined dense />
          </div>
        </q-card-section>

        <q-card-section class="row q-col-gutter-lg">
          <div class="col-6">
            <q-input
              v-model="aboutData.address"
              label="Address"
              outlined
              dense
            />
          </div>
        </q-card-section>
        <q-card-section class="row justify-end">
          <q-btn color="primary" label="Post" @click="addAbout()" />
        </q-card-section>
      </q-card>
    </section>

    <!-- get meet out team data -->
  </main>
</template>

<script>
const aboutDataDefault = {
  address: '',
  primaryEmail: '',
  secondaryEmail: '',
  primaryContact: '',
  secondaryContact: '',
  availability: '',
  quotes: '',
  createdAt: Date(),
};
import { mapActions, mapState } from 'vuex';
export default {
  name: 'AboutVito',

  data() {
    return {
      aboutData: { ...aboutDataDefault },
    };
  },

  async created() {
    await this.getAbout();
  },
  methods: {
    ...mapActions('Home', ['addData', 'getData', 'updateData']),

    async addAbout() {
      await this.addData({
        url: 'About',
        data: {
          ...this.aboutData,
        },
      });
      this.aboutData = { ...aboutDataDefault };
      await this.getAbout();
    },
    async getAbout() {
      await this.getData({
        url: 'About',
      });
    },
  },
  computed: {
    ...mapState('Home', ['about']),
  },
  watch: {
    about: {
      immediate: true,
      deep: true,
      handler(val) {
        this.aboutData = { ...val };
      },
    },
  },
};
</script>

<style scoped>
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 200px;
}
</style>
