<template>
  <main>
    <section class="q-pa-md">
      <q-card>

        <q-card-section class='row q-col-gutter-lg'>
          <div class='col-12'>
            <q-input v-model='guidanceData.name' label='Name' outlined dense/>

          </div>

        </q-card-section>
        <q-card-section>
          <q-editor
            v-model="guidanceData.description"
            min-height="5rem"

            :dense="$q.screen.lt.md"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana',
            }"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify'],
                },
              ],
              [
                'bold',
                'italic',
                'strike',
                'underline',
                'subscript',
                'superscript',
              ],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7',
                  ],
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana',
                  ],
                },
                'removeFormat',
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
              ['undo', 'redo'],
              ['viewsource'],
            ]"
          />
        </q-card-section>
        <q-card-section class="row justify-end">
          <q-btn color="primary" label="Post" @click="addDataInFirebase()" />
        </q-card-section>
      </q-card>
    </section>
    <section class="q-pa-md">
      <p class="text-subtitle1">Guidance</p>
      <q-card>
        <q-markup-table>
          <thead class="bg-accent">
          <tr>
            <th class="text-left">Name</th>

            <th class="text-left">Description</th>
            <th class="text-left">Action</th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(val, key) in guidance" :key="key">
            <td class="text-left">
              {{ val.name }}
            </td>


            <td class="text-left" v-html="val.description"></td>
            <td class="text-left">
              <q-icon
                name="edit"
                class="cursor-pointer material-icons-outlined"
                size="24px"
                @click="changeGuidanceVal(val, key)"
              />
              <q-icon
                name="delete"
                class="cursor-pointer material-icons-outlined"
                @click="deleteDialog(key)"
                size="24px"
              />
            </td>


          </tr>
          </tbody>
        </q-markup-table>
      </q-card>
    </section>


    <q-dialog v-model="prompt">
      <q-card>

        <q-card-section class='row q-col-gutter-lg'>
          <div class='col-12'>
            <q-input v-model='guidanceUpdate.name' label='Name' outlined dense/>

          </div>

        </q-card-section>
        <q-card-section>
          <q-editor
            v-model="guidanceUpdate.description"
            min-height="5rem"

            :dense="$q.screen.lt.md"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana',
            }"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify'],
                },
              ],
              [
                'bold',
                'italic',
                'strike',
                'underline',
                'subscript',
                'superscript',
              ],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7',
                  ],
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana',
                  ],
                },
                'removeFormat',
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
              ['undo', 'redo'],
              ['viewsource'],
            ]"
          />
        </q-card-section>
        <q-card-section class="row justify-end">
          <q-btn color="primary" label="Post" @click="updateGuidance()"  v-close-popup/>
        </q-card-section>
      </q-card>
    </q-dialog>


    <!-- delete dialog -->

    <q-dialog v-model="deletePrompt">
      <q-card style="min-width: 10px">
        <q-card-section>
          Are you sure you want to delete this Guidance?
        </q-card-section>
        <q-card-actions align="right" class="text-primary">
          <q-btn flat label="Cancel" v-close-popup />

          <q-btn
            flat
            label="Delete"
            @click="deleteGuidance(guidanceUpdate.key)"
            v-close-popup
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

  </main>
</template>

<script>
import { mapState,mapActions } from 'vuex';
import { errorNotify } from '../../../../utils/notify';

const guidanceDefault={
  name:"",
  description:''
}
export default {
  name: 'Guidance',
  data(){
    return{
      guidanceData:{...guidanceDefault},
      max:4,
      guidanceUpdate: {
        key: '',
        name: '',

        description: '',
      },
      prompt: false,
      deletePrompt: false,
    }
  },

  async created() {
    await this.getDataFromFirebase();
  },
  computed: {
    ...mapState('Home', ['guidance']),
  },

  methods: {
    ...mapActions('Home', ['pushData', 'getData','updateData','deleteData']),


    async addDataInFirebase() {
      if (!this.guidanceData.name) {
        errorNotify('Enter Name');

      } else if (!this.guidanceData.description) {
        errorNotify('Enter Description');
      } else {


      const key  =await this.pushData({
          url: 'Guidance',
          data: {
            ...this.guidanceData,
          },
        });
        await this.updateGuidanceKey(this.guidanceData, key);


      }
    },
    changeGuidanceVal(val, key) {
      this.guidanceUpdate.key = key;
      this.guidanceUpdate.name = val.name;

      this.guidanceUpdate.description = val.description;

      this.prompt = true;
    },

    async updateGuidanceKey(val, key) {
      await this.updateData({
        url: 'Guidance',
        id: key,
        data: {
          ...val,
          key: key,
        },
      });
      await this.getDataFromFirebase()
      this.guidanceData = { ...guidanceDefault }

    },
    async getDataFromFirebase() {
      await this.getData({
        url: 'Guidance',
      });
    },
    deleteDialog(key) {
      this.deletePrompt = true;
      this.guidanceUpdate.key = key;
    },
    async deleteGuidance(key) {
      await this.deleteData({
        url: 'Guidance',
        id: key,
      });
      await this.getDataFromFirebase()
    },
    async updateGuidance() {
      await this.updateData({
        url: 'Guidance',
        id: this.guidanceUpdate.key,
        data: {
          ...this.guidanceUpdate,
          // timestamp: moment(Date()).format('YYYY-MM-DD'),
        },
      });

      await this.getDataFromFirebase()

    },
  },
};
</script>

<style scoped>

</style>
