<template>
  <main>
    <section class="q-pa-md">
      <q-card>
        <q-card-section class="bg-blue-2 text-dark">Our Teams</q-card-section>
        <q-card-section>
          <q-input
            outlined
            bottom-slots
            v-model="ourTeams.memberName"
            type="text"
            label="Member Name"
          />
        </q-card-section>
        <q-card-section>
          <q-editor


            v-model="ourTeams.memberinfo"
            min-height="5rem"
            :dense="$q.screen.lt.md"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana',
            }"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify'],
                },
              ],
              [
                'bold',
                'italic',
                'strike',
                'underline',
                'subscript',
                'superscript',
              ],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7',
                  ],
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana',
                  ],
                },
                'removeFormat',
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
              ['undo', 'redo'],
              ['viewsource'],
            ]"
          />
        </q-card-section>
        <q-card-section>

        </q-card-section>
        <q-card-section>
          <div class="drop_area">
            <q-input
              v-model="ourTeams.images"
              type="file"
              borderless
              class="position-relative"
              accept="image/png, image/jpeg"
              hidden="hidden"
              @change="fileChange"
            >
              <div
                v-show="!url"
                class="text-dark absolute-center q-mt-xl q-pt-xl"
              >
                <div>
                  <q-icon name="add" size="90px" />
                  <p>Add Image Here</p>
                </div>
              </div>
              <div class="absolute-center q-mt-xl q-pt-xl">
                <q-img
                  :src="url"
                  spinner-color="primary"
                  spinner-size="82px"
                  height="190px"
                  width="350px"
                  contain
                />
              </div>
            </q-input>
          </div>
        </q-card-section>
        <q-card-section class="row justify-end">
          <q-btn color="primary" @click="addOurTeams()" label="Add" />
        </q-card-section>
      </q-card>
    </section>

    <section class="q-pa-md">
      <p class="text-subtitle1">ourTeams</p>
      <q-card>
        <q-markup-table>
          <thead class="bg-accent">
          <tr>
            <th class="text-left">Name</th>

            <th class="text-left">Info</th>

            <th class="text-left">Image</th>
            <th class="text-left">Action</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="(val, key) in ourteams" :key="key">
            <td class="text-left">
              {{ val.memberName }}
            </td>

            <td class="text-left" v-html="val.memberinfo"></td>

            <td class="text-left">
              <q-img
                :src="val.images"
                spinner-color="primary"
                spinner-size="82px"
                height="80px"
                width="80px"
              />
            </td>
            <td class="text-left q-pa-md">
              <q-icon
                name="edit"
                class="cursor-pointer material-icons-outlined"
                size="24px"
                @click="ChangeOurTeamsVal(val, key)"
              />
              <q-icon
                name="delete"
                class="cursor-pointer material-icons-outlined"
                @click="deleteDialog(key)"
                size="24px"
              />
            </td>
            <!-- update dialog box -->

            <q-dialog v-model="prompt">
              <q-card style="min-width: 350px">
                <q-card-section class="q-pt-md">
                  <header>Edit Our Teams</header>

                  <q-input
                    outlined
                    bottom-slots
                    v-model="OurTeamsUpdate.memberName"
                    type="text"
                    label="Member Name"
                  />
                </q-card-section>
                <q-card-section>
                  <q-editor
                    content-class="bg-accent"
                    toolbar-bg="accent"
                    v-model="OurTeamsUpdate.memberinfo"
                    min-height="5rem"
                  />
                </q-card-section>

                <q-img
                  :src="OurTeamsUpdate.images"
                  :ratio="16 / 9"
                  spinner-color="primary"
                  spinner-size="82px"
                />
                <q-card-section>
                  <div class="drop_area q-mt-md">
                    <q-input
                      v-model="updatedImage"
                      type="file"
                      borderless
                      class="position-relative"
                      hidden="hidden"
                      @change="fileChange"
                    >
                      <div
                        v-show="!url"
                        class="text-dark absolute-center q-mt-xl q-pt-xl"
                      >
                        <div>
                          <q-icon name="add" size="90px" />
                          <p>Add Image Here</p>
                        </div>
                      </div>
                      <div class="absolute-center q-mt-xl q-pt-xl">
                        <q-img
                          :src="url"
                          spinner-color="primary"
                          spinner-size="82px"
                          height="190px"
                          width="300px"
                          contain
                        />
                      </div>
                    </q-input>
                  </div>
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn flat label="Cancel" v-close-popup />

                  <q-btn
                    flat
                    label="Update"
                    @click="updateOurTeams()"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
            <!-- delete dialog -->

            <q-dialog v-model="deletePrompt">
              <q-card style="min-width: 10px">
                <q-card-section>
                  Are you sure you want to delete this?
                </q-card-section>
                <q-card-actions align="right" class="text-primary">
                  <q-btn flat label="Cancel" v-close-popup />

                  <q-btn
                    flat
                    label="Delete"
                    @click="deleteOurTeams(OurTeamsUpdate.key)"
                    v-close-popup
                  />
                </q-card-actions>
              </q-card>
            </q-dialog>
          </tr>
          </tbody>
        </q-markup-table>
      </q-card>
    </section>
  </main>
</template>

<script>
import { errorNotify } from 'src/utils/notify';
import { mapActions, mapState } from 'vuex';
const ourTeamsDefault = {
  memberName: '',

  memberinfo: '',
  images: '',
  createdAt: Date(),
};
export default {
  name: 'OurTeams',
  data() {
    return {
      ourTeams: { ...ourTeamsDefault },
      OurTeamsUpdate: {
        key: '',
        memberName: '',
        images: '',
        memberinfo: '',

        createdAt: '',
        updatedAt: Date(),
      },
      updatedImage: '',
      prompt: false,
      deletePrompt: false,
      url: null,
    };
  },
  created() {
    this.getOurTeams();
  },
  computed: {
    ...mapState('Home', ['ourteams']),
  },
  methods: {
    ...mapActions('Home', [
      'pushData',
      'getData',
      'updateData',
      'deleteData',
      'uploadImage',
    ]),
    fileChange(e) {
      const file = e.target.files[0];
      this.url = URL.createObjectURL(file);
    },
    async addOurTeams() {
      if (!this.ourTeams.memberName) {
        errorNotify('Enter Member Name');
      } else if (!this.ourTeams.memberinfo) {
        errorNotify('Enter Member info');
      } else if (!this.ourTeams.images) {
        errorNotify('Select Image');
      } else {
        const key = await this.pushData({
          url: 'OurTeams',
          data: {
            ...this.ourTeams,
          },
        });

        this.uploadImageFirebase(key, this.ourTeams.images);

        this.ourTeams = { ...ourTeamsDefault };
      }
    },

    ChangeOurTeamsVal(val, key) {
      this.OurTeamsUpdate.key = key;
      this.OurTeamsUpdate.memberName = val.memberName;
      this.OurTeamsUpdate.memberinfo = val.memberinfo;


      this.OurTeamsUpdate.createdAt = val.createdAt;
      this.OurTeamsUpdate.images = val.images;
      this.prompt = true;
    },
    deleteDialog(key) {
      this.deletePrompt = true;
      this.OurTeamsUpdate.key = key;
    },

    async updateOurTeams() {
      await this.updateData({
        url: 'OurTeams',
        id: this.OurTeamsUpdate.key,
        data: {
          ...this.OurTeamsUpdate,
          // timestamp: moment(Date()).format('YYYY-MM-DD'),
        },
      });
      this.uploadImageFirebase(this.OurTeamsUpdate.key, this.updatedImage);
    },

    async getOurTeams() {
      await this.getData({
        url: 'OurTeams',
      });
    },
    async deleteOurTeams(key) {
      await this.deleteData({
        url: 'OurTeams',
        id: key,
      });
    },
    async uploadImageFirebase(id, images) {
      await this.uploadImage({
        url: 'OurTeams',
        id: id,
        images: images,
      });
      this.url = null;
      this.images = '';
    },
  },
};
</script>

<style scoped>
.drop_area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  height: 200px;
}
</style>
