<template>
  <main>
    <section class="q-pa-md">
      <q-card>
        <q-card-section class="bg-blue-2 text-dark">Testimonials</q-card-section>
        <q-card-section class='row q-col-gutter-lg'>
          <div class='col-6'>
            <q-input v-model='testimonialData.name' label='Name' outlined dense/>

          </div>
          <div class='col-6'>
            <q-input v-model='testimonialData.role' label='Role' outlined dense/>

          </div>
        </q-card-section>
        <q-card-section>
          <q-editor
            v-model="testimonialData.description"
            min-height="5rem"

            :dense="$q.screen.lt.md"
            :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana',
            }"
            :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify'],
                },
              ],
              [
                'bold',
                'italic',
                'strike',
                'underline',
                'subscript',
                'superscript',
              ],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7',
                  ],
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana',
                  ],
                },
                'removeFormat',
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
              ['undo', 'redo'],
              ['viewsource'],
            ]"
          />
        </q-card-section>
        <q-card-section class="row justify-end">
          <q-btn color="primary" label="Post" @click="addDataInFirebase()" />
        </q-card-section>
      </q-card>


      <q-dialog v-model="prompt">
        <q-card>
          <q-card-section class="bg-blue-2 text-dark">Testimonials</q-card-section>
          <q-card-section class='row q-col-gutter-lg'>
            <div class='col-6'>
              <q-input v-model='testimonialUpdate.name' label='Name' outlined dense/>

            </div>
            <div class='col-6'>
              <q-input v-model='testimonialUpdate.role' label='Role' outlined dense/>

            </div>
          </q-card-section>
          <q-card-section>
            <q-editor
              v-model="testimonialUpdate.description"
              min-height="5rem"

              :dense="$q.screen.lt.md"
              :fonts="{
              arial: 'Arial',
              arial_black: 'Arial Black',
              comic_sans: 'Comic Sans MS',
              courier_new: 'Courier New',
              impact: 'Impact',
              lucida_grande: 'Lucida Grande',
              times_new_roman: 'Times New Roman',
              verdana: 'Verdana',
            }"
              :toolbar="[
              [
                {
                  label: $q.lang.editor.align,
                  icon: $q.iconSet.editor.align,
                  fixedLabel: true,
                  options: ['left', 'center', 'right', 'justify'],
                },
              ],
              [
                'bold',
                'italic',
                'strike',
                'underline',
                'subscript',
                'superscript',
              ],
              ['token', 'hr', 'link', 'custom_btn'],
              ['print', 'fullscreen'],
              [
                {
                  label: $q.lang.editor.formatting,
                  icon: $q.iconSet.editor.formatting,
                  list: 'no-icons',
                  options: ['p', 'h1', 'h2', 'h3', 'h4', 'h5', 'h6', 'code'],
                },
                {
                  label: $q.lang.editor.fontSize,
                  icon: $q.iconSet.editor.fontSize,
                  fixedLabel: true,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'size-1',
                    'size-2',
                    'size-3',
                    'size-4',
                    'size-5',
                    'size-6',
                    'size-7',
                  ],
                },
                {
                  label: $q.lang.editor.defaultFont,
                  icon: $q.iconSet.editor.font,
                  fixedIcon: true,
                  list: 'no-icons',
                  options: [
                    'default_font',
                    'arial',
                    'arial_black',
                    'comic_sans',
                    'courier_new',
                    'impact',
                    'lucida_grande',
                    'times_new_roman',
                    'verdana',
                  ],
                },
                'removeFormat',
              ],
              ['quote', 'unordered', 'ordered', 'outdent', 'indent'],
              ['undo', 'redo'],
              ['viewsource'],
            ]"
            />
          </q-card-section>
          <q-card-section class="row justify-end">
            <q-btn color="primary" label="Post" @click="updateTestimonial()" />
          </q-card-section>
        </q-card>
      </q-dialog>

      <!-- delete dialog -->

      <q-dialog v-model="deletePrompt">
        <q-card style="min-width: 10px">
          <q-card-section>
            Are you sure you want to delete this Testimonial?
          </q-card-section>
          <q-card-actions align="right" class="text-primary">
            <q-btn flat label="Cancel" v-close-popup />

            <q-btn
              flat
              label="Delete"
              @click="deleteTestimonial(testimonialUpdate.key)"
              v-close-popup
            />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </section>
    <section class="q-pa-md">
      <p class="text-subtitle1">Testimonial</p>
      <q-card>
        <q-markup-table>
          <thead class="bg-accent">
          <tr>
            <th class="text-left">Name</th>

            <th class="text-left">Role</th>
            <th class="text-left">Description</th>
            <th class="text-left">Action</th>

          </tr>
          </thead>
          <tbody>
          <tr v-for="(val, key) in testimonial" :key="key">
            <td class="text-left">
              {{ val.name }}
            </td>

            <td class="text-left" v-html="val.role"></td>
            <td class="text-left" v-html="val.description"></td>
            <td class="text-left">
              <q-icon
                name="edit"
                class="cursor-pointer material-icons-outlined"
                size="24px"
                @click="changeTestimonialVal(val, key)"
              />
              <q-icon
                name="delete"
                class="cursor-pointer material-icons-outlined"
                @click="deleteDialog(key)"
                size="24px"
              />
            </td>

          </tr>
          </tbody>
        </q-markup-table>
      </q-card>
    </section>
  </main>
</template>

<script>
import { mapState,mapActions } from 'vuex';
import { errorNotify } from '../../../../utils/notify';

const testimonialDefault={
  name:"",
  role:"",
  description:''
}
export default {
  name: 'Testimonial',
  data(){
    return{
      testimonialData:{...testimonialDefault},
      prompt: false,
      deletePrompt: false,
      testimonialUpdate: {
        key: '',
        name: '',
        role:"",

        description: '',
      },

    }
  },

  async created() {
    await this.getDataFromFirebase();
  },
  computed: {
    ...mapState('Home', ['testimonial']),
  },

  methods: {
    ...mapActions('Home', ['pushData', 'getData','updateData','deleteData']),

    async addDataInFirebase() {
      if (!this.testimonialData.name) {
        errorNotify('Enter Name');
      } else if (!this.testimonialData.role) {
        errorNotify('Enter Role');
      } else if (!this.testimonialData.description) {
        errorNotify('Enter Description');
      } else {

        const key = await this.pushData({
          url: 'Testimonial',
          data: {
            ...this.testimonialData,
          },
        });
        // await this.getDataFromFirebase()
        await this.updateTestimonialKey(this.testimonialData, key);

      }
    },

    changeTestimonialVal(val, key) {
      this.testimonialUpdate.key = key;
      this.testimonialUpdate.name = val.name;
      this.testimonialUpdate.role = val.role;
      this.testimonialUpdate.description = val.description;

      this.prompt = true;
    },

    async updateTestimonialKey(val, key) {
      await this.updateData({
        url: 'Testimonial',
        id: key,
        data: {
          ...val,
          key: key,
        },
      });
        await this.getDataFromFirebase()
      this.testimonialData = { ...testimonialDefault }

    },
    async getDataFromFirebase() {
      await this.getData({
        url: 'Testimonial',
      });
    },
    deleteDialog(key) {
      this.deletePrompt = true;
      this.testimonialUpdate.key = key;
    },

    async deleteTestimonial(key) {
      await this.deleteData({
        url: 'Testimonial',
        id: key,
      });
      await this.getDataFromFirebase()
    },
    async updateTestimonial() {
      await this.updateData({
        url: 'Testimonial',
        id: this.testimonialUpdate.key,
        data: {
          ...this.testimonialUpdate,
          // timestamp: moment(Date()).format('YYYY-MM-DD'),
        },
      });
      await this.getDataFromFirebase()

    },
  },
};
</script>

<style scoped>

</style>
