<template>
  <main class="q-mt-xl">
    <q-parallax src="https://cdn.quasar.dev/img/parallax2.jpg">
      <section class="row q-gutter-xl text-white">
        <article class="q-pb-xs">
          <div class="text-h6 text-weight-medium q-pb-md">LOGO</div>
          <div class="q-gutter-y-sm">
            <div class="text-subtitle1 text-weight-regular">
              Vito Education is a dynamic educational consultancy,
              <br />situated in Nepal’s largest capital cities – Kathmandu
            </div>
          </div>
        </article>
        <article class="q-pb-xs">
          <div class="text-h6 text-weight-medium q-pb-md q-pt-xs-md">
            Quick Links
          </div>
          <div class="q-gutter-y-sm cursor-pointer text-body1">
            <div v-for="(nav, key) in navItem" :key="key">
              <a @click="routeChange(nav.routeName)">{{ nav.label }}</a>
            </div>
          </div>
        </article>

        <article class="q-pb-xs">
          <div class="text-h6 text-weight-medium q-pb-md q-pt-xs-md">
            Find us at:
          </div>
          <div class="q-gutter-y-sm">
            <div class="q-gutter-x-md q-gutter-xs-x-sm items-center">
              <div class="row text-body1">
                <q-icon name="location_on" size="sm" color="grey-5" />
                Nepal
              </div>
              <div class="text-body1 text-weight-light q-pl-lg">
                Sinamangal, <br />
                Kathmandu-09, Nepal
              </div>
            </div>
          </div>
        </article>

        <article class="q-pb-xs">
          <div class="text-h6 text-weight-medium q-pb-md q-pt-xs-md">
            Contact
          </div>
          <div class="q-gutter-y-sm">
            <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center">
              <q-icon name="call" size="sm" color="grey-5" />
              <div class="text-body1 text-weight-light row-md">
                <div>+977 9823593050</div>
              </div>
            </div>
            <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center">
              <q-icon name="email" size="sm" color="grey-5" />
              <div class="text-body1 text-weight-light">info@gmail.com</div>
            </div>
          </div>
        </article>
        <article class="q-pb-xs">
          <div class="text-h6 text-weight-medium q-pb-md q-pt-xs-md">
            Newsletter
          </div>
          <div class="q-gutter-y-sm">
            <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center">
              <div class="text-body1 text-weight-light">
                Sign Up to Our Newsletter to Get Latest Updates & Services
              </div>
            </div>
            <div class="row q-gutter-x-md q-gutter-xs-x-sm items-center">
              <div class="text-body1 text-weight-light row-md">
                <q-input v-model="text" type="text" label="Label" outlined />
                <q-btn
                  color="primary"
                  icon="send"

                  flat
                  class="bg-secondary"
                />
              </div>
            </div>
          </div>
        </article>
      </section>
    </q-parallax>
  </main>
</template>

<script>
export default {
  data() {
    return {
      text:"",
      navItem: [
        {
          routeName: '/#home',
          label: 'Home',
        },
        {
          routeName: '/about',
          label: 'About Us',
        },
        {
          routeName: '/destination',
          label: 'Destionation',
        },
        {
          routeName: '/institution',
          label: 'Institution',
        },
        {
          routeName: '/courses',
          label: 'Courses',
        },
        {
          routeName: '/apply-now',
          label: 'Apply Now',
        },
      ],
    };
  },
  computed: {
    getCurrentRoutes() {
      return this.$route.path;
    },
  },
  methods: {
    routeChange(routeName) {
      if (routeName === this.getCurrentRoutes) return;
      this.$router.push(routeName);
    },
  },
};
</script>

<style></style>
