<template>
  <q-layout view="hHh Lpr lff" class="shadow-2 rounded-borders">
    <q-header class="bg-white text-black">
      <q-toolbar class="justify-center">
        <div v-for="(nav, key) in navItem" :key="key">
          <span class="cursor-pointer" @click="routeChange(nav.routeName)">
            <q-item
              active
              clickable
              v-ripple
              :class="$route.path == nav.routeName ? 'active' : 'text-dark'"
            >
              <q-item-section> {{ nav.label }}</q-item-section>
            </q-item>
          </span>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <q-page padding> <router-view /> </q-page>
    </q-page-container>
  </q-layout>
</template>
<script>
import { auth } from '../firebase/firebase';
import { signOut } from 'firebase/auth';

export default {
  name: 'Navbar',
  data() {
    return {
      //routes for sidebars
      navItem: [
        {
          routeName: '/',
          label: 'Home',
        },
        {
          routeName: '/about',
          label: 'About Us',
        },
        {
          routeName: '/destination',
          label: 'Destionation',
        },
        {
          routeName: '/institution',
          label: 'Institution',
        },
        {
          routeName: '/courses',
          label: 'Courses',
        },
        {
          routeName: '/blog',
          label: 'Blog',
        },
        {
          routeName: '/gallery',
          label: 'Gallery',
        },
        {
          routeName: '/contact',
          label: 'Contact',
        },
        {
          routeName: '/apply-now',
          label: 'Apply Now',
        },
      ],
      drawerLeft: false,
    };
  },

  computed: {
    getCurrentRoutes() {
      return this.$route.path;
    },
  },
  methods: {
    routeChange(routeName) {
      if (routeName === this.getCurrentRoutes) return;
      this.$router.push(routeName);
    },
  },
};
</script>

<style scoped>
.active {
  color: black;
  background: #d9dbe9;
}
</style>
