<template>
  <q-layout view="hHh Lpr lff" class="  " >
    <q-header elevated class="bg-white text-black">
      <q-toolbar class='row items-center bg-blue-5'>
        <q-btn flat @click="drawerLeft = !drawerLeft" round dense icon="menu">
        </q-btn>

        <q-toolbar-title class='text-white'> Vito Education </q-toolbar-title>

      </q-toolbar>
    </q-header>

    <q-drawer
      v-model="drawerLeft"
      show-if-above
      :width="200"
      :breakpoint="700"
      elevated
      content-class="text-dark"
      class="full-height text-white-10 print-hide  "
    >
      <q-scroll-area class="fit bg-blue-5 ">
        <div class="text-h6 items-center q-gutter-y-sm">
          <div class="text-subtitle2 items-center">
            <div v-for="(nav, key) in navItem" :key="key">
              <span class="cursor-pointer" @click="routeChange(nav.routeName)">
                <q-item
                  active
                  clickable
                  v-ripple
                  :class="$route.path == nav.routeName ? 'active' : 'text-dark'"
                >
                  <q-item-section class='text-white'> {{ nav.label }}</q-item-section>
                </q-item>
              </span>
            </div>
            <div class="q-pl-md q-pt-sm cursor-pointer text-white bg-blue-5" @click="LOGOUT()">
              Logout
            </div>
          </div>
        </div>
      </q-scroll-area>
    </q-drawer>
    <q-page-container class='bg-blue-1 text-teal'>
      <q-page padding> <router-view /> </q-page>
    </q-page-container>
  </q-layout>
</template>
<script>
import { auth } from '../firebase/firebase';
import { signOut } from 'firebase/auth';

export default {
  name: 'DashboardLayout',
  data() {
    return {
      //routes for sidebars
      navItem: [
        {
          routeName: '/dashboard/about',
          label: 'About US',
        },
        {
          routeName: '/dashboard/hero',
          label: 'Hero Section',
        },
        {
          routeName: '/dashboard/courses',
          label: 'Courses',
        },
        {
          routeName: '/dashboard/blog',
          label: 'Blog',
        },
        {
          routeName: '/dashboard/destinations',
          label: 'Destinations',
        },
        // {
        //   routeName: '/dashboard/institutes',
        //   label: 'Institutes',
        // },
        {
          routeName: '/dashboard/gallery',
          label: 'Gallery',
        },
        // {
        //   routeName: '/dashboard/applications',
        //   label: 'Applications',
        // },

      ],
      drawerLeft: false,
    };
  },

  computed: {
    getCurrentRoutes() {
      return this.$route.path;
    },
  },
  methods: {
    routeChange(routeName) {
      if (routeName === this.getCurrentRoutes) return;
      this.$router.push(routeName);
    },
    LOGOUT() {
      signOut(auth).then(() => {
        this.$router.push('/');
      });
    },
  },
};
</script>

<style scoped>
.active {
  color: black;
  background: teal;
}
.text-dark{
  colout:white
}
</style>
