<template>
  <q-layout view="hHh Lpr lff">
    <q-header class="bg-white text-black">
      <Header />
      <SubHeader />

<!--      desktop view-->
      <q-toolbar class="justify-center bg-secondary">
        <div class="row items-center text-white gt-sm">
          <div>
            <q-btn flat @click="$router.push('/')"> Home</q-btn>
            <q-btn-dropdown label="about" flat>
              <q-list class='bg-secondary text-white'>
                <q-item clickable v-close-popup @click="$router.push('/about')">
                  <q-item-section>
                    <q-item-label>About Vito</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/testimonial')"
                >
                  <q-item-section>
                    <q-item-label>Testimonial</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/message-from-md')"
                >
                  <q-item-section>
                    <q-item-label>Message From MD</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>












            <q-btn-dropdown label="destination" flat>
              <q-list class='bg-secondary text-white' v-for='(val,key) in destination' :key='key'>
                <q-item clickable v-close-popup @click="$router.push(`/destination/${val.about.url}`)">
                  <q-item-section>
                    <q-item-label>{{val.about.destinationName}}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
              </q-list>
            </q-btn-dropdown>






            <q-btn-dropdown label="Courses" flat>
              <q-list class='bg-secondary text-white' v-for='(val,key) in courses' :key='key'>
                <q-item clickable v-close-popup @click="$router.push(`/courses/${val.about.url}`)">
                  <q-item-section>
                    <q-item-label>{{val.about.courseName}}</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
              </q-list>
            </q-btn-dropdown>




            <q-btn flat @click="$router.push('/blog')"> Blog</q-btn>
            <q-btn flat @click="$router.push('/gallery')"> Gallery </q-btn>
            <q-btn flat @click="$router.push('/contact')"> Contact</q-btn>
            <q-btn flat @click="$router.push('/apply-now')"> Apply Now </q-btn>
            <q-btn flat @click="$router.push('/login')"> Login </q-btn>
          </div>
        </div>
      </q-toolbar>
    </q-header>



    <q-header class="bg-white q-px-md-xl q-px-xs-sm q-py-lg lt-md">
      <Header />
      <SubHeader />

      <!--    mobile-->
      <q-toolbar class="text-white q-pl-xl">
        <div class="lt-md bg-white">
          <q-btn
            color="secondary"
            dense
            flat
            icon="menu"
            round
            @click="right = !right"
          />
        </div>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="right"
      :width="200"
      color
      class="lt-md"
      content-class="bg-white"
      show-if-above3
      side="right"
    >
      <q-scroll-area class="fit">
        <div class="flex column q-pa-xl text-dark q-gutter-y-lg text-h7">
          <div>
            <q-btn flat @click="$router.push('/')"> Home</q-btn>
            <q-btn-dropdown label="about" flat>
              <q-list>
                <q-item clickable v-close-popup @click="$router.push('/about')">
                  <q-item-section>
                    <q-item-label>About Vito</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/testimonial')"
                >
                  <q-item-section>
                    <q-item-label>Testimonial</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/message-from-md')"
                >
                  <q-item-section>
                    <q-item-label>Message From MD</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown label="destination" flat>
              <q-list>
                <q-item clickable v-close-popup @click="$router.push('/about')">
                  <q-item-section>
                    <q-item-label>About Vito</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/testimonial')"
                >
                  <q-item-section>
                    <q-item-label>Testimonial</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/message-from-md')"
                >
                  <q-item-section>
                    <q-item-label>Message From MD</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown label="institution" flat>
              <q-list>
                <q-item clickable v-close-popup @click="$router.push('/about')">
                  <q-item-section>
                    <q-item-label>About Vito</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/testimonial')"
                >
                  <q-item-section>
                    <q-item-label>Testimonial</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/message-from-md')"
                >
                  <q-item-section>
                    <q-item-label>Message From MD</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn-dropdown label="courses" flat>
              <q-list>
                <q-item clickable v-close-popup @click="$router.push('/about')">
                  <q-item-section>
                    <q-item-label>About Vito</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/testimonial')"
                >
                  <q-item-section>
                    <q-item-label>Testimonial</q-item-label>
                  </q-item-section>
                </q-item>
                <q-separator />
                <q-item
                  clickable
                  v-close-popup
                  @click="$router.push('/message-from-md')"
                >
                  <q-item-section>
                    <q-item-label>Message From MD</q-item-label>
                  </q-item-section>
                </q-item>
              </q-list>
            </q-btn-dropdown>
            <q-btn flat @click="$router.push('/blog')"> Blog</q-btn>
            <q-btn flat @click="$router.push('/gallery')"> Gallery </q-btn>
            <q-btn flat @click="$router.push('/contact')"> Contact</q-btn>
            <q-btn flat @click="$router.push('/apply-now')"> Apply Now </q-btn>
          </div>
        </div>
      </q-scroll-area>
    </q-drawer>
    <Transition name="slide-fade">
      <router-view />
    </Transition>
  </q-layout>
</template>
<script>
import { auth } from '../firebase/firebase';
import { signOut } from 'firebase/auth';
import Header from 'src/pages/Header.vue';
import SubHeader from 'src/pages/SubHeader.vue';
import { mapActions ,mapState} from 'vuex';
import { hideLoading, showLoading } from '../utils/loading';

export default {
  name: 'LandingLayout',
  components: { Header, SubHeader },
  data() {
    return {
      right: false,
      //routes for sidebars

      drawerLeft: false,
    };
  },

  async beforeMount(){
    await this.getDestinationDatas();


  },
  async mounted(){
    await this.getCoursesDatas();
  },

  computed: {
    ...mapActions('Home', ['getData']),
    ...mapState('Destination',['destination']),
    ...mapState('Courses',['courses']),

    getCurrentRoutes() {
      return this.$route.path;
    },
  },
  methods: {
    ...mapActions("Destination",['getDestinationData']),
    ...mapActions("Courses",['getCourseData']),
    async getAllData(){
      showLoading()
      for (const val of this.items) {
        await this.getData({
          url: val?.u,

        });
        hideLoading()
      }
    },
    async getDestinationDatas(){
      const format = [
        {
          about:{}
      }
      ]
      await this.getDestinationData({
        url:"Destination"
      })
    },
    async getCoursesDatas(){

      await  this.getCourseData({

        url:"Courses"
      })
    },
    routeChange(routeName) {
      if (routeName === this.getCurrentRoutes) return;
      this.$router.push(routeName);
    },
  },
};
</script>

<style scoped>
.active {
  color: black;
  background: #2596be;
}
.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.5s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}
</style>
